@import url("../../node_modules/open-props/colors.min.css");
@import url("../../node_modules/open-props/colors-hsl.min.css");
@import url("../../node_modules/open-props/gradients.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    /*Color Palleter*/
      /** Light brand theme*/
      /** brand hue and component decomposition*/

     --brand:#eb5a00;
    --brand-hsl:hsl(23 100% 46%);
    --brand-hue:23;
    --brand-saturation:100%;
    --brand-lightness:46%;
    --brand-fill0:hsl(var(--brand-hue) 
    var(--brand-saturation) 
    var(--brand-lightness));
    --brand-fill1: hsl(var(--brand-hue) 
    var(--brand-saturation) 
    calc(var(--brand-lightness) + 12%));
  --brand-stroke:var(--brand-fill0);
    --text1-light:hsl(var(--brand-hue) 
    var(--brand-saturation)
    calc(var(--brand-lightness) - 36%));
    --text2-light:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) - 70%) 
    calc(var(--brand-lightness) - 16%));
    --surface1-light:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) - 70%) 
    calc(var(--brand-lightness) + 44%));
    --surface2-light:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) - 75%) 
    calc(var(--brand-lightness) + 53%));
    --surface3-light:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) - 80%) 
    calc(var(--brand-lightness) + 46%));
    --surface4-light:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) - 80%) 
    calc(var(--brand-lightness) + 39%));
    --suface-shadow-light:var(--brand-hue) 10% 20%;
    --shadow-strength-light:.02;
 
    /** brand accent hue and decompostion*/
    --brand-accent: #0065a3;
    --brand-accent-hsl: hsl(203 100% 32%);
    --brand-accent-hue: 203;
    --brand-accent-saturation: 100%;
    --brand-accent-lightness: 32%;
    

    /* Accent light text scheme*/
    --text1-accent-light: hsl(var(--brand-accent-hue) 
    var(--brand-accent-saturation) 10%);
    --text2-accent-light:hsl(var(--brand-accent-hue) 30% 30%);

    /* Accent light surface scheme*/
    --surface1-accent-light:hsl(var(--brand-accent-hue) 45% 85%);
    --surface2-accent-light:hsl(var(--brand-accent-hue) 25% 99%);
    --surface3-accent-light:hsl(var(--brand-accent-hue) 22% 92%);
    --surface4-accent-light:hsl(var(--brand-accent-hue) 20% 85%);
    --surface-shadow-accent:var(--brand-accent-hue) 10% 20%;
    --shadow-strength-accent:.02;

    /* Accent dark surface and light scheme*/
    --surface1-accent-dark:hsl(var(--brand-accent-hue) 12% 31%);
    --surface2-accent-dark:hsl(var(--brand-accent-hue) 16% 21%);
    --text1-accent-dark:hsl(var(--brand-accent-hue)  20% 85%);
    --text2-accent-dark:hsl(var(--brand-accent-hue) 12% 85%);
    
    /** Brand dark shceme*/
    --brand-dark:hsl(var(--brand-hue) 
    calc(var(--brand-saturation) / 2) 
    calc(var(--brand-lightness) / 1.4));
    --text1-dark: hsl(var(--brand-hue) 15% 90%);
    --text2-dark: hsl(var(--brand-hue) 5% 65%);
    --surface1-dark: hsl(var(--brand-hue) 15% 10%);
    --surface2-dark: hsl(var(--brand-hue) 11% 15%);
    --surface3-dark: hsl(var(--brand-hue) 10% 20%);
    --surface4-dark:hsl(var(--brand-hue)  7% 25%);
    --shadow-surface-dark:var(--brand-hue) 50% 3%;
    --shadow-strength-dark:.8;
    /* End of Pallete */
   
  }
  
  :root {
    font-size: 62.5%;
    /** Text and general purpose metric range*/
    --step--2: clamp(0.69rem, calc(0.65rem + 0.31vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.77rem + 0.49vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.90rem + 0.73vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.05rem + 1.06vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.23rem + 1.50vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.44rem + 2.08vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.68rem + 2.86vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(1.96rem + 3.87vw), 3.82rem);
    --step-6: clamp(2.99rem, calc(2.27rem + 5.20vw), 4.77rem);
    --step-7: clamp(3.58rem, calc(2.63rem + 6.94vw), 5.96rem);
    --step-8: clamp(4.30rem, calc(3.04rem + 9.20vw), 7.45rem);
    --step-9: clamp(5.16rem, calc(3.49rem + 12.13vw), 9.31rem);
    --step-10: clamp(6.19rem, calc(4.00rem + 15.91vw), 11.64rem);

    /** paragraph Line height range*/
    --p-line-height-min: 1.15;
    --p-line-height-max: 1.5;
    /* Container width range**/
    --bp-small: 20;
    --bp-medium: 24.15;
    --bp-large: 43.75;
    --bp-xlarge: 48;
    /** Variable font axis*/
    --text-slnt: 0;
    --text-wght: 600;
    /** Variable font feature*/
    --frac: 1;
    --denom: 1;
    --pnum: 1;
    --numr: 1;
    --ordn: 1;
    --sups: 1;
    --subs: 1;
    --ss01: 1;

  }

/* Color theme reset */

html,
[data-theme="light"]{
--brand-fill-0:var(--brand-fill0);
--brand-fill-1:var(--brand-fill1);
--brand-stroke:var(--brand-fill0);
--text-1:var(--text1-light);
--text-2:var(--text2-light);
--text-2-accent:var(--text2-accent-light); 
--text-1-accent:var(--text1-accent-light);
--surface-headings:var(--text2-accent-light);
--surface-1-accent:var(--surface1-accent-light);
--surface-2-accent:var(--surface2-accent-light);
--surface-1:var(--surface1-light);
--surface-2:var(--surface2-light);
--surface-3:var(--surface3-light);
--surface-4:var(--surface4-light);
--surface-alpha:hsl(var(--brand-hue) 17% 98% / 65%);
--surface-shadow :var(--surface-shadow-light);
--surface-1-accent:var(--surface1-accent);
--shadow-strength:var(--shadow-strength-light);
    /* Accent surface scheme*/
color-scheme: light;

}

[data-theme="dark"]{
  --brand-fill-0:var(--brand-fill0);
  --brand-fill-1:var(--brand-fill1);
  --brand-stroke:var(--brand-fill1);
  --text-1:var(--text1-dark);
  --text-2:var(--text2-dark);
  --text-2-accent:var(--text2-accent-dark);
  --text-1-accent:var(--text1-accent-dark);
  --surface-headings:var(--brand-accent-hsl);
    /* Accent surface scheme*/
  --surface-1-accent:var(--surface1-accent-dark);
  --surface-2-accent:var(--surface2-accent-dark);
  --surface-1:var(--surface1-dark);
  --surface-2:var(--surface2-dark);
  --surface-3:var(--surface3-dark);
  --surface-4:var(--surface4-dark);
  --surface-alpha:hsl(var(--brand-hue) 14% 10% / 65%);
  --surface-shadow:var(--surface-shadow-dark);
  --shadow-strength:var(--shadow-strength-dark);
  color: dark;

}
@media (prefers-color-scheme:dark){
  html{
    --brand-fill-0:var(--brand-fill0);
    --brand-fill-1:var(--brand-fill1);
    --brand-stroke:var(--brand-fill1);
    --text-1:var(--text1-dark);
    --text-2:var(--text2-dark);
    --text-1-accent:var(--text2-accent-dark);
    --text-2-accent:var(--text2-accent-dark);
    --surface-headings:var(--brand-accent-hsl);
    --surface-1-accent:var(--surface1-accent-dark);
    --surface-2-accent:var(--surface2-accent-dark);
    --surface-1:var(--surface1-dark);
    --surface-2:var(--surface2-dark);
    --surface:var(--surface3-dark);
    --surface:var(--surface4-dark);
    --surface-alpha:hsl(var(--brand-hue) 14% 10% / 65%);
    --surface-shadow:var(--surface-shadow-dark);
    --shadow-strength:var(--shadow-strength-dark);
  }

  }

html{
  accent-color:var(--brand-fill-0);
  background:var(--surface-2);
  color:var(--text-1);
  line-height: var(--step-2);
  box-sizing: border-box;
}

 body {
    min-height: 100vh;
    overflow-x: hidden;
    font-size: var(--step-0);
  }

  hr{
    border-width:.2px;
  }


  body div:first-child{
    backdrop-filter:blur(8px);
  }

  html {
    scroll-snap-type: y proximity;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
   :where(html) {
      scroll-behavior: smooth;
    }
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  i,
  em {
    --text-slnt: 1;
  }

  b,
  strong {
    --text-wght: 475;
  }

 
  p,
  div,
  section,
  b,
  i,
  em,
  cite,
  figcaption,
  blockquote,
  strong,
  ul,
  th,
  td,
  li,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p::first-line,
  p::first-letter {
    font-family: 'Inter', 'Nunito Sans', -apple-system, \.SFNSText-Regular, 'San Francisco', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-variation-settings: "wght" var(--text-wght);
    font-style: normal;
    text-transform: none;
    text-rendering: optimizeSpeed;
  }

input,
button, 
textarea,
select{
  font:inherit;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --text-wght: 700;
  }

  p {
    hyphens: auto;
  }

  section {
    padding-top: 4%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ::selection {
    background: var(--brand-fill-0);
    color: var(--text-1);
  }

  *:focus-visible{
    outline-color: var(--brand-stroke);
  }
  a{
    color:var(--brand-stroke);
    text-decoration-thickness:4px;
    text-underline-offset:2px;
    text-decoration-color: var(--brand-accent);
  }

  /* a:visited, a:hover{
  text-decoration-line:underline;
  text-decoration-color:var(--brand-accent);
} */
 
  a:hover{
    text-decoration-line:underline;
    text-decoration-color: var(--brand-stroke);
  }

  .box {
    padding: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }

  .bar {
    width: 3rem;
    height: .4rem;
    position: absolute;
    top: 1.4rem;
    right: 0;
    line-height: 0;
    background-color: hsl(0, 0%, 80%);
    border-radius: 1px;
    transition: opacity calc(var(--duration) - 0.5s) linear;
  }

  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 3rem;
    left: 0;
    border: .2rem solid hsl(0, 0%, 80%);
    border-radius: 1px;
    transition: transform 0.5s;
  }


  .bar::before {
    transform-origin: left top;
    top: 0;
    transform: rotate(0deg) translate(0, -.8rem);
  }

  .bar::after {
    transform-origin: right top;
    bottom: 0;
    transform: rotate(0deg) translate(0, .8rem);

  }

  [aria-expanded="true"] {
    background-color: transparent;
  }

  .bar[aria-expanded="true"]::before {
    transform: translate(.6rem, -1rem) rotate(45deg);
    border-radius: .7rem;

  }

  .bar[aria-expanded="true"]::after {
    transform: translate(-.6rem, -1rem) rotate(-45deg);
    border-radius: .7rem;

  }

  nav {
    perspective-origin: 80rem;
  }

  nav ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all .5s;
  }
@media(min-width:620px){
 nav ul{
    transform: rotateX(0);
    max-height: 50rem;
  }
}
 


  .accordion-ctrl::after {
    content: "\276F";
    width: 1.5rem;
    height: 1rem;
    text-align: center;
    transition: all .3s;
  }


  input:checked+label::after {
    transform: rotate(90deg);
  }

  input~.accordion {
    display: none;
    transition: all .3s;
  }

  input:checked~.accordion {
    display: block;
    transition: all .3s;

  }

  .show {
    transform: rotateX(0);
    max-height: 50rem;
  }
  .quote::before {
    content:'\201C';
  }
  .quote::after{
    content:'\201D';
  }
  @layer components{
    .banner{
      width:cal(100% + (4 * var(--step-1)));
    }
    .test-border{
      border:2px solid green;
    }
    .heading-1{
      animation:heading1 4s both;
    }
    .heading-2{
      animation:heading2 4s both;
    }
    .reference{
      animation:reference 4s both;
    }
    .hero-container{
      animation:hero-effect 4s both;
      }
      .title{
        animation:title 6s both;
      }
      .offer{
        animation:offers 6s calc(var(--i) * 0.5s + 4.5s) both;
      }

    @keyframes reference {
      from, 25%{
          clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
      }
      to{
        clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }


    }

    @keyframes heading1{
      from, 50%{

          clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
      }
      to{
        clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
   
  }

  @keyframes heading2{
    0%, 75%{
      opacity:0;
    }

    75%, to{
      opacity:1;
    }
  }

  @keyframes hero-effect{
    0%, 50%{
      transform:translate(2px, 50%) scale(1.2);

    }
    100%{
      transform:none;
    }

  }

  @keyframes title{
    from, 50%{

      clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
    }

      to{
        clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
  }

  @keyframes offers{
     from{
      opacity:0;
     } 
      to{
      opacity:1;
     }
  }

}

@layer utilites{
   .rad-shadow{

             box-shadow:
             0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)), 
             0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--surface-strength) + .01)), 
             0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--surface-strength) + .02)), 
             0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)), 
             0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)), 
             0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
   }
   .transform-box-fill{
    transform-box:fill-box;
   }
              
}
