@import url("./night-owl.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {

    /*Color Pallete*/

    /** Brand hue and Component Decomposition*/
    --brand: #eb5a00;
    --brand-hsl: hsl(23 100% 50%);
    --brand-hue: 23;
    --brand-saturation: 100%;
    --brand-lightness: 50%;
    --brand-stroke: var(--brand-hsl);

    /** Brand Accent */
    --brand-accent: #0065a3;
    --brand-accent-hsl: hsl(203 100% 32%);
    --brand-accent-hue: 203;
    --brand-accent-saturation: 100%;
    --brand-accent-lightness: 32%;


    /* Brand Light Scheme*/
    --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    /* Brand Light text scheme*/
    --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2-light: hsl(var(--brand-hue) 30% 30%);
    /* Brand Light surface scheme */
    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 14% 89%);
    --surface-shadow-light: var(--brand-hue) 10% 20%;
    --shadow-strength-light: 0.02;


    /* Brand dark shceme*/
    --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
    /* Brand dardk text scheme */
    --text1-dark: hsl(var(--brand-hue) 15% 85%);
    --text2-dark: hsl(var(--brand-hue) 5% 65%);
    /* Brand dark surface scheme*/
    --surface1-dark: hsl(var(--brand-hue) 15% 10%);
    --surface2-dark: hsl(var(--brand-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-hue) 5% 20%);
    --surface4-dark: hsl(var(--brand-hue) 9% 31%);
    --shadow-surface-dark: var(--brand-hue) 50% 3%;
    --shadow-strength-dark: 0.8;

    /* Brand accent */
    --brand-accent: hsl(var(--brand-accent) var(--brand-accent-saturation) var(--brand-accent-lightness));
    /* Brand accent light text scheme*/
    --text1-accent-light: hsl(var(--brand-accent-hue) var(--brand-accent-saturation) 20%);
    --text2-accent-light: hsl(var(--brand-accent-hue) 30% 30%);

    /* Accent light surface scheme*/
    --surface1-accent-light: hsl(var(--brand-accent-hue) 25% 90%);
    --surface2-accent-light: hsl(var(--brand-accent-hue) 20% 99%);
    --surface3-accent-light: hsl(var(--brand-accent-hue) 20% 92%);
    --surface4-accent-light: hsl(var(--brand-accent-hue) 20% 85%);
    --surface-shadow-accent: var(--brand-accent-hue) 10% 20;
    --shadow-strength-accent: 0.02;

    /* Accent dark text scheme*/
    --text1-accent-dark: hsl(var(--brand-accent-hue) 15% 85%);
    --text2-accent-dark: hsl(var(--brand-accent-hue) 10% 65%);

    /* Accent dark surface scheme*/
    --surface1-accent-dark: hsl(var(--brand-accent-hue) 10% 10%);
    --surface2-accent-dark: hsl(var(--brand-accent-hue) 10% 15%);

    /* End Color Pallee*/

    /** Text and general purpose metric range*/
    /*font-size: 62.5%;*/
    --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
    --step-6: clamp(2.99rem, calc(2.37rem + 3.10vw), 4.77rem);
    --step-7: clamp(3.58rem, calc(2.76rem + 4.13vw), 5.96rem);
    --step-8: clamp(4.30rem, calc(3.20rem + 5.48vw), 7.45rem);
    --step-9: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);

    --delay: 0.75s;
    --hero-duration: 4s;
    --title-offer-duration: 2s;
    --total-duration: calc(var(--hero-duration) + var(--title-offer-duration));

  }

  /* Color theme reset */
  html,
  [data-theme="light"] {
    --brand: var(--brand-light);
    --stroke: var(--brand-stroke);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text2-accent: var(--text2-accent-light);
    --text1-accent: var(--text1-accent-light);
    --surface1-accent: var(--surface1-accent-light);
    --surface2-accent: var(--surface2-accent-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4:var(--surface4-light);
    --surface-alpha: hsl(var(--surface1-light) 17% 98% / 65%);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
    color-scheme: light;

  }


  [data-theme="dark"] {
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text2-accent: var(--text2-accent-dark);
    --text1-accent: var(--text1-accent-dark);
    /* Accent surface scheme*/
    --surface1-accent: var(--surface1-accent-dark);
    --surface2-accent: var(--surface2-accent-dark);
    --surface1: var(--surface2-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface1-accent: var(--surface1-accent-dark);
    --surface2-accent: var(--surface2-accent-dark);
    --surface-alpha: hsl(var(--surface1-dark) 14% 10% / 65%);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    color-scheme: dark;

  }

  html {
    accent-color: var(--brand-hsl);
    text-rendering: optimizeSpeed;
    background:var(--surface-1);
    color:var(--text1);
    line-height: var(--step-2);
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  hr {
    border-width:2px;
  }

 @media (prefers-color-scheme:dark) {
    html {
      --brand: var(--brand-dark);
      --stroke: var(--brand-stroke);
      --text1: var(--text1-dark);
      --text2: var(--text2-dark);
      --text2-accent: var(--text2-accent-dark);
      --text1-accent: var(--text1-accent-dark);
      /* Accent surface scheme*/
      --surface1-accent: var(--surface1-accent-dark);
      --surface2-accent: var(--surface2-accent-dark);
      --surface1: var(--surface1-dark);
      --surface2: var(--surface2-dark);
      --surface3: var(--surface3-dark);
      --surface4: var(--surface4-dark);
      --surface-alpha: hsl(var(--brand-hue) 14% 10% / 65%);
      --surface-shadow: var(--surface-shadow-dark);
      --shadow-strength: var(--shadow-strength-dark);
      color-scheme: dark;
    }

  }

  body nav:first-of-type {
    backdrop-filter: blur(8px);
  }

   h1 {
    font-size: var(--step-5);
    line-height: 1;
  }
  h2 {
    font-size: var(--step-3);
    line-height: 1;
  }
  h3 {
    font-size: var(--step-2);
  }

/* Root core defaults*/

  html:focus-within {
    scroll-behavior: smooth;
  }

  

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    border: none;
    padding: 0;
    margin: 0;
  }

  i,
  em {
    --text-slnt: 1;
  }

  b,
  strong {
    --text-wght: 475;
  }



  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --text-wght: 700;
  }

  p {
    hyphens: auto;
    line-height: 1.5;
    font-size: var(--step--1);
  }

  img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  ::selection {
    background: var(--brand-hsl);
    color: var(--text-1);
  }

  *:focus-visible {
    outline-color: var(--brand-stroke);
  }
 code:not([class]) {
    background: var(--surface2);
  }

  code[class] {
    font-size: var(--step--1);
  }

  pre {
    font-size: var(--step--2);
  }


  a {
    color: var(--brand-stroke);
    text-decoration-thickness:4px;
    text-underline-offset:2px;
  }
   a:hover {
    text-decoration-line:underline;
  }

  ul ::marker {
    color: var(--brand-hsl);
  }

 
  details summary::-webkit-details-marker {
    display:none;
  }

@media (prefers-reduced-motion:no-preference){
  :where(html) {
    scroll-behavior:smooth;
  }
}


  .box {
    padding: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 6px;
    position: absolute;
    /*top: 50%;*/
   /* transform:translateY(-50%);*/
    line-height: 0;
    background-color: hsl(0, 0%, 80%);
    border-radius: 1px;
    transition: opacity calc(var(--duration) - 0.2s) linear;
  }

  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    border: 3px solid hsl(0, 0%, 80%);
    border-radius: 1px;
    transition: transform 0.5s;
  }


  .bar::before {
    transform-origin: left top;
    top: 2px;
    transform: rotate(0deg) translate(0, -.6rem);
  }

  .bar::after {
    transform-origin: right top;
    bottom: 2px;
    transform: rotate(0deg) translate(0, .6rem);
  }

  [aria-expanded="true"] {
    background-color: transparent;
  }


  .bar[aria-expanded="true"]::before {
      transform:translate(0, -.6rem) rotate(45deg);
    /*transform: translate(.4rem, -1rem) rotate(45deg);*/
    border-radius: .7rem;

  }

  .bar[aria-expanded="true"]::after {
      transform:translate(-.8rem, -.4rem) rotate(-45deg);
   /* transform: translate(-.4rem, -.8rem) rotate(-45deg);*/
    border-radius: .7rem;
  }

  nav {
    perspective-origin: 80rem;
  }

  nav ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all .5s;
  }

  @media(min-width:650px) {
    nav ul {
      transform: rotateX(0);
      max-height: 50rem;
    }
  }

  
  input:checked+label+ul{
    display:grid;
    place-items:center;
    transition:all 1s;
  }

  .show {
    transform: rotateX(0);
    max-height: 50rem;
  }

  .quote::before {
    content: '\201C';
  }

  .quote::after {
    content: '\201D';
  }

  @layer components {
    .banner {
      width: cal(100% + (4 * var(--step-1)));
    }

/* TODO:Delete when ready for prodution*/
    .test-border {
      border: 2px solid green;
    }

    .heading-1 {
      animation: heading1 4s both;
    }

    .heading-2 {
      animation: heading2 var(--hero-duration) both;
    }

    .reference {
      animation: reference var(--hero-duration) both;
    }

    .hero-container {

      animation: hero-effect var(--hero-duration) both;
    }

    .title {
      animation: title var(--total-duration) both;
    }

    .offer {
      animation: offers var(--total-duration) calc(var(--i) * var(--delay) + 4.25s) both;
    }

    @keyframes reference {

      from,
      10% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
      }

      100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }


    }

    @keyframes heading1 {

      from,
      25% {

        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
      }

      100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

  }

  @keyframes heading2 {

    0%,
    50% { 
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes hero-effect {

    0%,
    50% {
      transform: translate(15%, 50%) scale(1.5);

    }

    100% {
      transform: none;
    }

  }

  @keyframes title {

    from,
    70% {

      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)
    }

    to {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  @keyframes offers {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .demos-slider--ctl {
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    position: absolute;
    border: 1px solid goldenrod;
    font-size: var(--step-0);
    transform: translateY(-50%);
    background: var(--text1-accent);
    border-radius: 50%;
    color: var(--brand);
  }

  .demos-slider--card {
    flex-basis:45%;
    /*flex-grow:1;*/

    @apply grid bg-accent-surface-1 gap-y-4 drop-shadow-md mb-4 relative items-start;

  }

  .contact-feedback-success {
      margin-bottom:2px;
      @apply text-fluid--2 text-green-50 bg-green-700 rounded mb-2 p-2;
  }

  .contact-feedback-error {
      margin-bottom:2px;
      @apply text-fluid--2 text-red-50 bg-red-700 rounded mb-2 p-2;
  }
 .comment-heading:before{
  width:33.3%;
  height: 100px;
  content:"";
  background:linear-gradient(left hsl(var(--brand-accent)))
 }


 [data-copied=true] :is(path:nth-of-type(1), path:nth-of-type(2)),
  [data-copy-code] :is(path:nth-of-type(3), path:nth-of-type(4)) {
    display: none;
  }
  [data-copied=true] :is(path:nth-of-type(3), path:nth-of-type(4)) {
    display: block;
  }



}

@layer utilites {
  .rad-shadow {

    box-shadow:
      0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
      0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--surface-strength) + .01)),
      0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--surface-strength) + .02)),
      0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
      0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
      0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
  }

  .transform-box-fill {
    transform-box: fill-box;
  }

  .visual-t {
      @apply border-2 border-green-700;

}
}
