---
import Layout from '../layouts/Layout.astro'
import Link from '../components/link/link'
import About from '../components/About.astro'
import FeaturedDemos from '../components/FeatureDemos.astro'
import Demos from '../components/Demos.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  ogTitle={SITE_TITLE}
  landingPage={true}
>
<!-- <div class="p-8 mx-auto my-0 max-w-screen-md">
  <main class="grid grid-flow-row gap-44"> -->
    <About />
    <FeaturedDemos />
    <Demos />
  <!-- </main> -->
  <p class="mt-8">
  Like what you read or see so far and have an idea or ideas, business or
  businesses that you want to turn into reality or elevated? do not hesitate
  to contact me. I'm open to working with individuals, organization and
  groups. <Link route="/contact" linkStyle="text-brand-fill font-bold underline underline-offset-2 decoration-2 decoration-brand-fill">Contact</Link>
</p>
<!-- </div> -->
</Layout>
