<section id="about-me" tabindex="-1">
            <div class="about-me__details">
                <h2>Adebola is a passionate developer</h2>
                <img src="./asset/IMG_1639.jpeg" alt="
Adebola Adesina headshot">
                <!-- div class="about-me-wrapper"> -->
               <p>I'm a full stack software engineer specializing in web
                    development, web design, web3, blockchains, embeded software
                    and Iot with exceptional digital experiences.
                </p>
                <p>I'm passionate in what I do, especially Crafting a scalable,
                    secure and performance software. The usability,
                    functionality, usefulness, great users experience and
                    security of a web application is a must and therefore my top priority. 
                    I'm an advocate of a well tested and continious software testing. 
                    Above all, I enjoy sharing knowledge on my blog about computer
                    programming and software devevlopment that actually solve
                    problems, improve quality of life while providing umbelish
                    internet security.</p>
                <p>Like what you read or see so far and have an idea or ideas,
                    business or businesses that you want to turn into reality or
                    elevated? do not hestitate to contact me. I'm open to
                    working with individuals, organisation and groups. </p>
            </div>
        </section>