<fieldset class="search" data-search-id="posts">
                    <div class="">
                        <h2 class="text-fluid-3 text-text-1-accent mb-6">Categories</h2>
                        <ul class="grid grid-cols-[repeat(2,_1fr)] gap-2 bg-surface-2 p-6 drop-shadow-md la:grid-cols-[repeat(7,_auto-fit)] la:gap-2"
                            id="search-posts">
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-drop-shadow p-4 mb-4"><input 
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory" id="front-end"
                                    value="front-end" /><label
                                    class="posts__label relative flex gap-4 items-center" for="front-end">
                                    <svg width="24" height="24"
                                        viewBox="0 0 64 64"
                                        preserveAspectRatio="xMidYMid meet">
                                        <g data-name="Web development">
                                            <path
                                                d="M44 63H20a1 1 0 0 1 0-2h24a1 1 0 0 1 0 2zm9-60H11a1 1 0 0 0-1 1v7h44V4a1 1 0 0 0-1-1zM31 8H14a1 1 0 0 1 0-2h17a1 1 0 0 1 0 2zm6 1a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm6 0a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm6 0a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm-39 4v20a1 1 0 0 0 1 1h42a1 1 0 0 0 1-1V13zm5.83 13.45a1 1 0 0 1-.28 1.38.94.94 0 0 1-.55.17 1 1 0 0 1-.83-.45l-2-3a1 1 0 0 1 0-1.1l2-3a1 1 0 0 1 1.66 1.1L14.2 24zM21 20.38l-2 7.74a1 1 0 0 1-1 .75 1.07 1.07 0 0 1-.25 0 1 1 0 0 1-.75-1.25l2-7.74a1 1 0 0 1 1.94.5zm4.86 4.17-2 3A1 1 0 0 1 23 28a.94.94 0 0 1-.55-.17 1 1 0 0 1-.28-1.38L23.8 24l-1.63-2.45a1 1 0 1 1 1.66-1.1l2 3a1 1 0 0 1 0 1.1zM52 29a3 3 0 0 1-3 3H32a3 3 0 0 1-3-3V19a3 3 0 0 1 3-3h17a3 3 0 0 1 3 3z" />
                                            <path
                                                d="M59 12v27H5V12a4.94 4.94 0 0 1 3-4.56V33a3 3 0 0 0 3 3h42a3 3 0 0 0 3-3V7.44A4.94 4.94 0 0 1 59 12ZM40.89 61H23.11l3.43-10h10.92l3.43 10z" />
                                            <path
                                                d="M5 41v3a5 5 0 0 0 5 5h44a5 5 0 0 0 5-5v-3zm28 5h-2a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2zm5.13-16h-5.72L35 27.44a1 1 0 0 1 .81-.3 1 1 0 0 1 .73.45zm10.64 0h-8.24l-1.28-1.93 3-3.64a1 1 0 0 1 .76-.36.85.85 0 0 1 .75.34z" />
                                            <path
                                                d="M49 18H32a1 1 0 0 0-1 1v9.59L33.56 26a3 3 0 0 1 4.51.33l2.67-3.2A3 3 0 0 1 43 22.07a3 3 0 0 1 2.24 1l4.76 5.3V19a1 1 0 0 0-1-1Zm-13 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2Z" />
                                        </g>
                                    </svg>

                                    <span>Front-End</span></label></li>
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory" id="back-end"
                                    value="back-end" /><label
                                    class="posts__label relative flex gap-4 items-center" for="back-end">
                                    <svg width="24" height="24"
                                        enable-background="new 0 0 92 92"
                                        viewBox="0 0 92 92">
                                        <path fill="#FDDDD6"
                                            d="M77.43347 29.40399H53.58752c-4.23828 0-7.67432 3.43579-7.67432 7.67431 0 4.2384 3.43604 7.67432 7.67432 7.67432h23.84595c4.23828 0 7.67432-3.43591 7.67432-7.67432C85.10779 32.83978 81.67175 29.40399 77.43347 29.40399zM63.06555 54.47064H24.40686c-4.23828 0-7.67432 3.43604-7.67432 7.67432 0 4.23853 3.43604 7.67432 7.67432 7.67432h38.65869c4.23853 0 7.67432-3.43579 7.67432-7.67432C70.73987 57.90667 67.30408 54.47064 63.06555 54.47064zM27.77258 37.0783c0-4.23853-3.43604-7.67431-7.67432-7.67431H8.98645c-4.23828 0-7.67432 3.43579-7.67432 7.67431 0 4.2384 3.43604 7.67432 7.67432 7.67432h11.11182C24.33655 44.75262 27.77258 41.31671 27.77258 37.0783z" />
                                        <circle cx="79.703" cy="62.145"
                                            r="1.568" fill="#FDDDD6" />
                                        <path fill="#F3765D" d="M31.50255,21.2461v30.43903c0,2.80183,6.79056,5.07317,15.16715,5.07317
					s15.16715-2.27134,15.16715-5.07317V21.2461" />
                                        <ellipse cx="46.67" cy="21.246"
                                            fill="#F3765D" rx="15.167"
                                            ry="5.073" />
                                        <path fill="#F3765D"
                                            d="M61.83685 31.39244c0 2.80183-6.79057 5.07317-15.16715 5.07317s-15.16715-2.27134-15.16715-5.07317M61.83685 41.53879c0 2.80183-6.79057 5.07317-15.16715 5.07317s-15.16715-2.27134-15.16715-5.07317" />
                                        <circle cx="40.66" cy="30.794" r="1.371"
                                            fill="#FFF" />
                                        <circle cx="46.67" cy="30.794" r="1.371"
                                            fill="#FFF" />
                                        <circle cx="52.679" cy="30.794"
                                            r="1.371" fill="#FFF" />
                                        <circle cx="40.66" cy="41.539" r="1.372"
                                            fill="#FFF" />
                                        <circle cx="46.67" cy="41.539" r="1.372"
                                            fill="#FFF" />
                                        <circle cx="52.679" cy="41.539"
                                            r="1.372" fill="#FFF" />
                                        <circle cx="40.66" cy="51.392" r="1.371"
                                            fill="#FFF" />
                                        <circle cx="46.67" cy="51.392" r="1.371"
                                            fill="#FFF" />
                                        <circle cx="52.679" cy="51.392"
                                            r="1.371" fill="#FFF" />
                                        <path fill="#FFF" d="M60.40974,71.57024v5.06846c0,1.39961,3.39213,2.53423,7.57653,2.53423s7.57653-1.13461,7.57653-2.53423
				v-5.06846" />
                                        <ellipse cx="67.986" cy="71.57"
                                            fill="#FFF" rx="7.577" ry="2.534" />
                                        <path fill="#FFF" d="M17.77659,71.57024v5.06846c0,1.39961,3.39213,2.53423,7.57653,2.53423s7.57653-1.13461,7.57653-2.53423
				v-5.06846" />
                                        <ellipse cx="25.353" cy="71.57"
                                            fill="#FFF" rx="7.577" ry="2.534" />
                                        <path fill="#010101"
                                            d="M67.48621 65.72943v1.20117c0 .27637.22388.5.5.5s.5-.22363.5-.5v-1.20117c0-2.66553-2.16846-4.83448-4.83398-4.83448H47.1698v-3.14478c7.86792-.08472 15.66699-2.16064 15.66699-6.06519V21.24603c0-3.9873-8.13306-6.07324-16.16699-6.07324-8.03418 0-16.16724 2.08594-16.16724 6.07324v30.43896c0 3.90454 7.79932 5.98047 15.66724 6.06519v3.14478H29.68713c-2.66553 0-4.83398 2.16895-4.83398 4.83448v1.20117c0 .27637.22388.5.5.5s.5-.22363.5-.5v-1.20117c0-2.11426 1.71997-3.83448 3.83398-3.83448 11.879 0 22.08609 0 33.96509 0C65.76624 61.89495 67.48621 63.61517 67.48621 65.72943zM60.83679 31.39252c0 1.66064-5.5188 4.07324-14.16699 4.07324s-14.16724-2.4126-14.16724-4.07324v-7.06836c2.90234 1.97351 8.55396 2.99512 14.16724 2.99512 5.61304 0 11.26489-1.02161 14.16699-2.99512V31.39252zM32.50256 34.47064c2.90234 1.97351 8.55396 2.99512 14.16724 2.99512 5.61304 0 11.26489-1.02161 14.16699-2.99512V41.539c0 1.66064-5.5188 4.07275-14.16699 4.07275S32.50256 43.19964 32.50256 41.539V34.47064zM46.6698 17.17279c8.64819 0 14.16699 2.4126 14.16699 4.07324s-5.5188 4.07324-14.16699 4.07324-14.16724-2.4126-14.16724-4.07324S38.02161 17.17279 46.6698 17.17279zM32.50256 51.68499v-7.06824c2.90234 1.97339 8.55396 2.995 14.16724 2.995 5.61304 0 11.26489-1.02161 14.16699-2.995v7.06824c0 1.66064-5.5188 4.07324-14.16699 4.07324S32.50256 53.34564 32.50256 51.68499zM67.98621 68.53607c-4.01343 0-8.07642 1.04199-8.07642 3.03418v5.06836c0 1.99219 4.06299 3.03418 8.07642 3.03418 4.01367 0 8.07666-1.04199 8.07666-3.03418v-5.06836C76.06287 69.57806 71.99988 68.53607 67.98621 68.53607zM67.98621 69.53607c4.31982 0 7.07666 1.20459 7.07666 2.03418s-2.75684 2.03418-7.07666 2.03418-7.07642-1.20459-7.07642-2.03418S63.66638 69.53607 67.98621 69.53607zM67.98621 78.67279c-4.31982 0-7.07642-1.20459-7.07642-2.03418v-3.52979c1.4502.9856 4.27295 1.49561 7.07642 1.49561 2.80371 0 5.62646-.51001 7.07666-1.49561v3.52979C75.06287 77.4682 72.30603 78.67279 67.98621 78.67279zM25.35315 68.53607c-4.01367 0-8.07666 1.04199-8.07666 3.03418v5.06836c0 1.99219 4.06299 3.03418 8.07666 3.03418 4.01343 0 8.07642-1.04199 8.07642-3.03418v-5.06836C33.42957 69.57806 29.36658 68.53607 25.35315 68.53607zM25.35315 69.53607c4.31982 0 7.07642 1.20459 7.07642 2.03418s-2.75659 2.03418-7.07642 2.03418-7.07666-1.20459-7.07666-2.03418S21.03333 69.53607 25.35315 69.53607zM25.35315 78.67279c-4.31982 0-7.07666-1.20459-7.07666-2.03418v-3.52979c1.4502.9856 4.27295 1.49561 7.07666 1.49561 2.80347 0 5.62646-.51001 7.07642-1.49561v3.52979C32.42957 77.4682 29.67297 78.67279 25.35315 78.67279z" />
                                        <circle cx="64.984" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <circle cx="67.986" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <circle cx="70.988" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <circle cx="22.351" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <circle cx="25.353" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <circle cx="28.355" cy="76.339" r=".685"
                                            fill="#F3765D" />
                                        <g>
                                            <circle cx="71.304" cy="12.82"
                                                r="2.691" fill="#84B0DE" />
                                        </g>
                                        <g>
                                            <circle cx="88.578" cy="48.722"
                                                r="2.11" fill="#FEF2D8" />
                                        </g>
                                        <g>
                                            <circle cx="48.238" cy="80.303"
                                                r="1.568" fill="#D2EDF6" />
                                        </g>
                                        <g>
                                            <circle cx="6.72" cy="58.337"
                                                r="1.568" fill="#CF95C2" />
                                        </g>
                                        <g>
                                            <circle cx="20.098" cy="15.859"
                                                r="1.568" fill="#D4EBDF" />
                                        </g>
                                    </svg>
                                    <span>Back-End</span></label></li>
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory"
                                    id="operating-system"
                                    value="operating-system" /><label
                                    class="posts__label relative flex gap-4 items-center" for="operating-system">
                                    <svg width="24" height="24"
                                        enable-background="new 0 0 64 64"
                                        viewBox="0 0 64 64">
                                        <path fill="#5D9CEC" d="M60.5,8.24v31h-57v-31h4h4h4h4h4h22h2h2h2h2h3h2H60.5z M51.5,22.24v-6h-4v-2h-4l-1,2v6H51.5z M48,37.24
				l-2-3h-1.8l0.8-4h-5l0.8,4H38v1l-2.5-5l-2.5,5v-1h-2.5c0.73-0.98,0.66-2.38-0.23-3.27C29.29,30,27.71,30,26.73,30.971
				c-0.891,0.89-0.961,2.289-0.23,3.27H24v-4h-5v4h-1l-2,3H48z M36.5,22.24v-6h-4v-2h-4l-1,2v6H36.5z M21.5,22.24v-6h-4v-2h-4l-1,2
				v6H21.5z" />
                                        <path fill="#5D9CEC"
                                            d="M60.5,8.24v31h-57v-31h4h4h4h4h4h22h2h2h2h2h3h2H60.5z" />
                                        <path fill="#E6E9ED"
                                            d="M46,34.24l2,3H16l2-3h1h5h2.5c0.07,0.09,3.93,0.09,4,0H33h5h2.8h3.4H46z" />
                                        <polygon fill="#87BCF4"
                                            points="24 34.24 24 35.24 19 35.24 19 34.24 19 30.24 24 30.24" />
                                        <path fill="#48CFAD" d="M30.27,30.971c0.891,0.89,0.961,2.289,0.23,3.27h-0.01c-0.07,0.09-0.141,0.18-0.221,0.27
				c-0.979,0.971-2.56,0.971-3.539,0c-0.08-0.09-0.15-0.18-0.221-0.27H26.5c-0.73-0.98-0.66-2.38,0.23-3.27
				C27.71,30,29.29,30,30.27,30.971z" />
                                        <polygon fill="#FFF"
                                            points="45 30.24 44.2 34.24 44 35.24 41 35.24 40.8 34.24 40 30.24" />
                                        <polygon fill="#A0D468"
                                            points="35.5 30.24 38 35.24 33 35.24" />
                                        <path
                                            d="M60.5,46.26v-0.02v-4h3v4v0.02c0,1.65-1.35,3-3,3h-3C59.15,49.26,60.5,47.91,60.5,46.26z"
                                            opacity=".1" />
                                        <rect width="4" height="2" x="3.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="4" height="2" x="7.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="4" height="2" x="11.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="4" height="2" x="15.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="4" height="2" x="19.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="22" height="2" x="23.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="2" height="2" x="58.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="2" height="2" x="56.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="3" height="2" x="53.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="2" height="2" x="51.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="2" height="2" x="49.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <rect width="2" height="2" x="47.5"
                                            y="6.24" fill="#E6E9ED" />
                                        <rect width="2" height="2" x="45.5"
                                            y="6.24" fill="#CCD1D9" />
                                        <polygon fill="#F6BB42"
                                            points="46.499 15.24 47.5 16.24 42.5 16.24 42.499 15.24" />
                                        <polygon fill="#FFCE54"
                                            points="51.5 16.24 51.5 22.24 42.5 22.24 42.5 16.24 47.5 16.24" />
                                        <polygon fill="#F6BB42"
                                            points="16.499 15.24 17.5 16.24 12.5 16.24 12.499 15.24" />
                                        <polygon fill="#F6BB42"
                                            points="31.499 15.24 32.5 16.24 27.5 16.24 27.499 15.24" />
                                        <polygon fill="#FFCE54"
                                            points="36.5 16.24 36.5 22.24 27.5 22.24 27.5 16.24 32.5 16.24" />
                                        <polygon fill="#FFCE54"
                                            points="21.5 16.24 21.5 22.24 12.5 22.24 12.5 16.24 17.5 16.24" />
                                        <circle cx="32" cy="45.74" r="1.5"
                                            fill="#CCD1D9" />
                                        <path fill="#CCD1D9"
                                            d="M63.5 46.26v1.98c0 1.689-1.311 3-3 3-.71 0-10.63 0-22.01 0-4.26 0-8.721 0-12.98 0-11.38 0-21.3 0-22.01 0-1.689 0-3-1.311-3-3v-1.98c0 1.65 1.35 3 3 3H32h28.5C62.15 49.26 63.5 47.91 63.5 46.26zM38.49 51.24l2 9H23.51l2-9C29.77 51.24 34.23 51.24 38.49 51.24z" />
                                        <path fill="#E6E9ED"
                                            d="M32,42.24H0.5v4v0.02c0,1.65,1.35,3,3,3H32h28.5c1.65,0,3-1.35,3-3v-4.02H32z M32,47.24
			c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5S32.83,47.24,32,47.24z" />
                                        <path fill="#656D78" d="M63.5,6.26v35.98H32H0.5V6.26c0-1.649,1.35-3,3-3h57C62.15,3.26,63.5,4.61,63.5,6.26z M60.5,39.24v-31v-2
				h-2h-2h-3h-2h-2h-2h-2h-22h-4h-4h-4h-4h-4v2v31H60.5z" />
                                        <path fill="#E6E9ED" d="M42,60.74H22c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h20c0.276,0,0.5,0.224,0.5,0.5
				S42.276,60.74,42,60.74z" />
                                        <path fill="#4A89DC"
                                            d="M19.499 24.74h-4.998c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h4.998c.276 0 .5.224.5.5S19.775 24.74 19.499 24.74zM34.499 24.74h-4.998c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h4.998c.276 0 .5.224.5.5S34.775 24.74 34.499 24.74zM49.499 24.74h-4.998c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h4.998c.276 0 .5.224.5.5S49.775 24.74 49.499 24.74z" />
                                        <path fill="#E6E9ED" d="M5.529,7.74c-0.275,0-0.504-0.224-0.504-0.5s0.219-0.5,0.494-0.5h0.01c0.277,0,0.5,0.224,0.5,0.5
				S5.807,7.74,5.529,7.74z" />
                                        <path fill="#AAB2BD"
                                            d="M38.713,52.243L38.49,51.24c-4.26,0-8.721,0-12.98,0l-0.223,1.003H38.713z" />
                                    </svg>
                                    <span>Operating-System</span></label></li>
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory" id="system"
                                    value="system" /><label class="posts__label relative flex gap-4 items-center"
                                    for="system">
                                    <svg width="24" height="24"
                                        enable-background="new 0 0 1550 1550"
                                        viewBox="0 0 1550 1550">
                                        <path fill="#d4f3f6"
                                            d="M1090.14,134.91v303.96H459.86V134.91c0-22.09,17.91-40,40-40h550.28C1072.23,94.91,1090.14,112.82,1090.14,134.91z" />
                                        <path fill="#e5e0e4"
                                            d="M1090.14 438.87v53.46c0 22.09-17.91 40-40 40H853.75h-157.5H499.86c-22.09 0-40-17.91-40-40v-53.46H1090.14zM1519 1268.13v40.07c0 22.09-17.91 40-40 40h-180.76-98.48H1019c-22.09 0-40-17.91-40-40v-40.07H1519zM571 1268.13v40.07c0 22.09-17.91 40-40 40H350.24h-98.48H71c-22.09 0-40-17.91-40-40v-40.07H571z" />
                                        <path fill="#d4f3f6"
                                            d="M1519 1013.44v254.69H979v-254.69c0-22.09 17.91-40 40-40h233.51H1479C1501.09 973.44 1519 991.35 1519 1013.44zM571 1013.44v254.69H31v-254.69c0-22.09 17.91-40 40-40h226.49H531C553.09 973.44 571 991.35 571 1013.44z" />
                                        <path
                                            d="M1479,1369.2h-460c-33.64,0-61-27.36-61-61v-294.76c0-33.64,27.36-61,61-61h460c33.64,0,61,27.36,61,61v294.76C1540,1341.84,1512.64,1369.2,1479,1369.2z M1019,994.44c-10.48,0-19,8.52-19,19v294.76c0,10.48,8.52,19,19,19h460c10.48,0,19-8.52,19-19v-294.76c0-10.48-8.52-19-19-19H1019z" />
                                        <path
                                            d="M1519 1289.13H979c-11.6 0-21-9.4-21-21s9.4-21 21-21h540c11.6 0 21 9.4 21 21S1530.6 1289.13 1519 1289.13zM1199.76 1473.19c-11.6 0-21-9.4-21-21V1348.2c0-11.6 9.4-21 21-21s21 9.4 21 21v103.98C1220.76 1463.78 1211.36 1473.19 1199.76 1473.19zM1298.24 1473.19c-11.6 0-21-9.4-21-21V1348.2c0-11.6 9.4-21 21-21s21 9.4 21 21v103.98C1319.24 1463.78 1309.83 1473.19 1298.24 1473.19z" />
                                        <path
                                            d="M1352.93 1476.09h-207.85c-11.6 0-21-9.4-21-21s9.4-21 21-21h207.85c11.6 0 21 9.4 21 21S1364.52 1476.09 1352.93 1476.09zM531 1369.2H71c-33.64 0-61-27.36-61-61v-294.76c0-33.64 27.36-61 61-61h460c33.64 0 61 27.36 61 61v294.76C592 1341.84 564.64 1369.2 531 1369.2zM71 994.44c-10.48 0-19 8.52-19 19v294.76c0 10.48 8.52 19 19 19h460c10.48 0 19-8.52 19-19v-294.76c0-10.48-8.52-19-19-19H71z" />
                                        <path
                                            d="M571 1289.13H31c-11.6 0-21-9.4-21-21s9.4-21 21-21h540c11.6 0 21 9.4 21 21S582.6 1289.13 571 1289.13zM350.24 1472.95c-11.6 0-21-9.4-21-21V1348.2c0-11.6 9.4-21 21-21s21 9.4 21 21v103.75C371.24 1463.55 361.83 1472.95 350.24 1472.95zM251.76 1472.95c-11.6 0-21-9.4-21-21V1348.2c0-11.6 9.4-21 21-21s21 9.4 21 21v103.75C272.76 1463.55 263.36 1472.95 251.76 1472.95z" />
                                        <path
                                            d="M404.93 1476.09H197.07c-11.6 0-21-9.4-21-21s9.4-21 21-21h207.85c11.6 0 21 9.4 21 21S416.52 1476.09 404.93 1476.09zM1252.51 994.44c-11.6 0-21-9.4-21-21V836.26H318.49v137.18c0 11.6-9.4 21-21 21s-21-9.4-21-21V815.26c0-11.6 9.4-21 21-21h955.03c11.6 0 21 9.4 21 21v158.18C1273.51 985.04 1264.11 994.44 1252.51 994.44z" />
                                        <g>
                                            <path
                                                d="M775,836.26c-11.6,0-21-9.4-21-21V657.09c0-11.6,9.4-21,21-21s21,9.4,21,21v158.18C796,826.86,786.6,836.26,775,836.26z" />
                                        </g>
                                        <g>
                                            <path
                                                d="M1050.14,553.33H499.86c-33.64,0-61-27.36-61-61V134.91c0-33.64,27.36-61,61-61h550.28c33.64,0,61,27.36,61,61v357.42C1111.14,525.97,1083.78,553.33,1050.14,553.33z M499.86,115.91c-10.48,0-19,8.52-19,19v357.42c0,10.48,8.52,19,19,19h550.28c10.48,0,19-8.52,19-19V134.91c0-10.48-8.52-19-19-19H499.86z" />
                                            <path
                                                d="M1090.14 459.87H459.86c-11.6 0-21-9.4-21-21s9.4-21 21-21h630.28c11.6 0 21 9.4 21 21S1101.74 459.87 1090.14 459.87zM696.25 674.7c-11.6 0-21-9.4-21-21V532.33c0-11.6 9.4-21 21-21s21 9.4 21 21V653.7C717.25 665.3 707.85 674.7 696.25 674.7zM853.75 674.7c-11.6 0-21-9.4-21-21V532.33c0-11.6 9.4-21 21-21s21 9.4 21 21V653.7C874.75 665.3 865.35 674.7 853.75 674.7z" />
                                            <path
                                                d="M923.1,678.09H626.9c-11.6,0-21-9.4-21-21s9.4-21,21-21h296.2c11.6,0,21,9.4,21,21S934.7,678.09,923.1,678.09z" />
                                        </g><text
                                            font-family="MyriadPro-Regular"
                                            font-size="12"
                                            transform="translate(580.596 826.973)">1550</text>
                                    </svg>
                                    <span>System</span></label></li>
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory" id="iot"
                                    value="iot" /><label class="posts__label relative flex gap-4 items-center"
                                    for="iot">
                                    <svg width="24" height="24"
                                        data-name="Layer 1" viewBox="0 0 64 64">
                                        <path fill="#d3e3f8"
                                            d="M60,32A28.005,28.005,0,0,1,32,60a27.685,27.685,0,0,1-11.62-2.53,27.128,27.128,0,0,1-5.63-3.42A4.031,4.031,0,0,0,14.89,53,3.888,3.888,0,0,0,11,49.11a4.031,4.031,0,0,0-1.05.14,27.017,27.017,0,0,1-2.43-3.66A28,28,0,0,1,32,4,27.685,27.685,0,0,1,43.62,6.53a27.128,27.128,0,0,1,5.63,3.42A4.031,4.031,0,0,0,49.11,11,3.888,3.888,0,0,0,53,14.89a4.031,4.031,0,0,0,1.05-.14,27.017,27.017,0,0,1,2.43,3.66A27.881,27.881,0,0,1,60,32Z" />
                                        <path fill="#d96d73"
                                            d="M45,39H34.937a2,2,0,0,1-1.537-.72L24.6,27.72A2,2,0,0,0,23.063,27H18V23h7.063a2,2,0,0,1,1.537.72l8.8,10.56a2,2,0,0,0,1.537.72H45V33l5,4-5,4Z" />
                                        <polygon fill="#cc666c"
                                            points="29.024 26.628 26.357 29.828 28.31 32.172 30.976 28.971 29.024 26.628" />
                                        <polygon fill="#cc666c"
                                            points="33.643 32.171 31.69 29.828 29.024 33.029 30.976 35.372 33.643 32.171" />
                                        <circle cx="11" cy="53" r="10"
                                            fill="#628dc4" />
                                        <rect width="2" height="2" x="10" y="56"
                                            fill="#f2f2f2" rx="1" />
                                        <path fill="#f2f2f2"
                                            d="M15.832,52.449a5.991,5.991,0,0,0-9.664,0L4.553,51.271a7.989,7.989,0,0,1,12.894,0Z" />
                                        <path fill="#f2f2f2"
                                            d="M12.608,54.814a2.054,2.054,0,0,0-3.216,0L7.769,53.646a3.994,3.994,0,0,1,6.462,0Z" />
                                        <path fill="#62768c"
                                            d="M62.5,13.355l-.582-.321a.929.929,0,0,1-.495-.935,7.684,7.684,0,0,0,0-2.2.929.929,0,0,1,.495-.935l.582-.321a.937.937,0,0,0,.367-1.312L61.254,4.667a1.029,1.029,0,0,0-1.372-.352l-.588.325a1.068,1.068,0,0,1-1.145-.094A8.533,8.533,0,0,0,56.27,3.5a.987.987,0,0,1-.655-.9V1.96a.983.983,0,0,0-1-.96H51.389a.983.983,0,0,0-1,.96V2.6a.987.987,0,0,1-.655.9,8.533,8.533,0,0,0-1.879,1.043,1.068,1.068,0,0,1-1.145.094l-.588-.325a1.029,1.029,0,0,0-1.372.352L43.135,7.333A.937.937,0,0,0,43.5,8.645l.582.321a.929.929,0,0,1,.495.935,7.684,7.684,0,0,0,0,2.2.929.929,0,0,1-.495.935l-.582.321a.937.937,0,0,0-.367,1.312l1.611,2.666a1.029,1.029,0,0,0,1.372.352l.588-.325a1.068,1.068,0,0,1,1.145.094A8.533,8.533,0,0,0,49.73,18.5a.987.987,0,0,1,.655.9v.644a.983.983,0,0,0,1,.96h3.222a.983.983,0,0,0,1-.96V19.4a.987.987,0,0,1,.655-.9,8.533,8.533,0,0,0,1.879-1.043,1.068,1.068,0,0,1,1.145-.094l.588.325a1.029,1.029,0,0,0,1.372-.352l1.611-2.666A.937.937,0,0,0,62.5,13.355ZM53,14.889A3.889,3.889,0,1,1,56.889,11,3.889,3.889,0,0,1,53,14.889Z" />
                                        <path fill="#5479a8"
                                            d="M31.542,61l-.081,0c-.646-.011-1.33-.046-2-.1l.173-1.993c.626.054,1.263.087,1.9.1Zm2.051-.039-.107-2c.641-.035,1.286-.092,1.918-.172l.25,1.984C34.975,60.858,34.282,60.92,33.593,60.957Zm-6.186-.32c-.678-.108-1.362-.241-2.03-.4l.454-1.947c.623.145,1.259.27,1.891.371Zm10.289-.2-.391-1.961c.627-.126,1.258-.275,1.874-.444l.53,1.928C39.047,60.146,38.37,60.307,37.7,60.441Zm3.989-1.1-.669-1.885c.6-.214,1.2-.452,1.789-.708l.8,1.833C42.978,58.859,42.332,59.114,41.685,59.344Zm3.785-1.656-.931-1.771c.567-.3,1.13-.62,1.672-.956l1.054,1.7C46.683,57.022,46.079,57.368,45.47,57.688Zm3.512-2.179-1.172-1.62c.515-.373,1.026-.771,1.52-1.184l1.284,1.533C50.084,54.682,49.536,55.109,48.982,55.509Zm3.169-2.655-1.388-1.438c.456-.441.906-.908,1.337-1.388l1.487,1.337C53.125,51.88,52.642,52.381,52.151,52.854Zm2.764-3.077-1.58-1.226c.394-.507.773-1.033,1.128-1.564L56.125,48.1C55.745,48.669,55.337,49.233,54.915,49.777Zm2.3-3.44-1.737-.99c.315-.554.616-1.129.893-1.708l1.8.863C57.876,45.125,57.553,45.742,57.214,46.337ZM59,42.6l-1.862-.73c.234-.6.449-1.207.639-1.817l1.909.595C59.483,41.306,59.252,41.962,59,42.6ZM4.044,39.74c-.182-.661-.343-1.339-.479-2.014l1.961-.393c.126.628.276,1.259.446,1.874Zm56.188-1.086L58.285,38.2c.146-.621.271-1.257.373-1.89l1.974.317C60.523,37.3,60.389,37.986,60.232,38.654Zm-57-2.969c-.086-.681-.149-1.374-.187-2.06l2-.11c.035.639.094,1.284.174,1.918ZM60.887,34.57,58.9,34.4c.056-.637.089-1.285.1-1.925l0-.116,2,.025,0,.133C60.983,33.193,60.947,33.887,60.887,34.57ZM4,31.572l-1-.061q.018-1.035.1-2.021l1.993.174c-.054.61-.086,1.238-.1,1.864Zm54.952-1.145c-.036-.636-.1-1.281-.178-1.918l1.984-.255c.088.684.152,1.376.191,2.06ZM5.333,27.75l-1.976-.312c.108-.681.241-1.364.4-2.031L5.7,25.86C5.557,26.48,5.433,27.116,5.333,27.75Zm53.129-1.141c-.127-.627-.278-1.257-.45-1.872l1.927-.537c.184.661.347,1.338.483,2.013ZM6.2,24l-1.91-.592c.2-.658.433-1.315.682-1.953l1.863.727C6.607,22.777,6.394,23.388,6.2,24Zm1.4-3.587L5.8,19.554c.295-.619.617-1.238.957-1.837l1.739.987C8.179,19.262,7.879,19.837,7.605,20.414Zm1.9-3.352L7.84,15.954c.378-.569.785-1.135,1.206-1.681L10.629,15.5C10.236,16.005,9.857,16.532,9.505,17.062Zm2.356-3.047-1.49-1.334c.46-.514.942-1.016,1.433-1.492L13.2,12.625C12.739,13.068,12.291,13.536,11.861,14.015Zm2.764-2.683L13.337,9.8c.525-.442,1.074-.871,1.63-1.275l1.176,1.618C15.625,10.521,15.114,10.921,14.625,11.332ZM17.74,9.069l-1.058-1.7c.584-.364,1.187-.711,1.793-1.031l.934,1.769C18.845,8.408,18.284,8.73,17.74,9.069Zm3.4-1.8-.8-1.831c.631-.277,1.277-.534,1.922-.764l.671,1.884C22.33,6.775,21.728,7.014,21.141,7.272Zm3.624-1.293L24.23,4.053c.665-.185,1.342-.347,2.014-.482l.393,1.961C26.013,5.658,25.383,5.808,24.765,5.979ZM38.112,5.7c-.624-.144-1.26-.267-1.891-.366l.31-1.976c.678.106,1.361.239,2.031.393Zm-9.573-.476-.254-1.983c.678-.087,1.371-.151,2.059-.19l.113,2C29.816,5.079,29.17,5.139,28.539,5.219Zm5.769-.12Q33.4,5.02,32.471,5l-.057-2h.091c.659.012,1.322.046,1.973.1Z" />
                                        <path fill="#5ab3a7"
                                            d="M41,27H36.937a2,2,0,0,0-1.537.72L26.6,38.28a2,2,0,0,1-1.537.72H18V35h5.063a2,2,0,0,0,1.537-.72l8.8-10.56A2,2,0,0,1,34.937,23H41V21l5,4-5,4Z" />
                                    </svg>
                                    <span>Iot</span></label></li>
                            <li class="categories__list bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0 " type="radio"
                                    name="posts__catgegory"
                                    id="programming-fundamental"
                                    value="programming-fundamental" /><label
                                    class="posts__label relative flex gap-4 items-center"
                                    for="programming-fundamental">
                                    <svg width="24" height="24"
                                        viewBox="0 0 512 512">
                                        <rect width="23.69" height="78.95"
                                            x="96.04" y="402.21" fill="#ff832f"
                                            rx="4.83" />
                                        <path fill="#ffb833"
                                            d="M91.76 131a26 26 0 016.61 4.4 27.56 27.56 0 018 13.82 20.28 20.28 0 015-12.82 20.07 20.07 0 019.81-6 19 19 0 01-9-3.81 19.47 19.47 0 01-7-12 17.32 17.32 0 01-3 9.41A17.66 17.66 0 0191.76 131zM116.23 144.9a9.08 9.08 0 012.23 1.49 9.26 9.26 0 012.7 4.65 6.67 6.67 0 015-6.34 6.42 6.42 0 01-3-1.28 6.6 6.6 0 01-2.36-4 5.78 5.78 0 01-1 3.17A5.88 5.88 0 01116.23 144.9zM90.2 119.68a5.94 5.94 0 011.52 1 6.39 6.39 0 011.85 3.19A4.55 4.55 0 0197 119.54a4.33 4.33 0 01-2.07-.88 4.49 4.49 0 01-1.62-2.77 3.94 3.94 0 01-3.09 3.79zM275.87 43.09a19 19 0 014.8 3.2 20 20 0 015.82 10 14.42 14.42 0 0110.77-13.68 13.61 13.61 0 01-6.55-2.76 14.18 14.18 0 01-5.09-8.73A12.61 12.61 0 01283.43 38 12.8 12.8 0 01275.87 43.09zM293.65 53.17a6.22 6.22 0 011.62 1.08 6.69 6.69 0 012 3.38 5 5 0 011.23-3.14 4.89 4.89 0 012.4-1.47 4.56 4.56 0 01-2.21-.93 4.76 4.76 0 01-1.71-2.94 4.26 4.26 0 01-.74 2.3A4.34 4.34 0 01293.65 53.17zM274.73 34.83a4.42 4.42 0 012.45 3.06 3.45 3.45 0 01.84-2.15 3.36 3.36 0 011.64-1 3.13 3.13 0 01-1.51-.63 3.29 3.29 0 01-1.17-2 3 3 0 01-.5 1.58A3 3 0 01274.73 34.83zM182 384.53l-55.55.42q5.05-33.26 10.1-66.49h55.55Q187.08 351.49 182 384.53z" />
                                        <rect width="201.99" height="12.91"
                                            x="85.8" y="381.3" fill="#ff832f"
                                            rx="6.08" />
                                        <path fill="#ff832f"
                                            d="M301.15,344.75H70.43a11.18,11.18,0,0,1-11.13-10L44.43,190.06a11.19,11.19,0,0,1,11.13-12.34H276.13a11.19,11.19,0,0,1,11,9.28l25,144.66A11.18,11.18,0,0,1,301.15,344.75Z" />
                                        <path fill="#fff3e3"
                                            d="M70.43,334.65a1.08,1.08,0,0,1-1.09-1L54.48,189a1,1,0,0,1,.27-.84,1,1,0,0,1,.81-.36H276.13a1.08,1.08,0,0,1,1.08.91l25,144.65a1.09,1.09,0,0,1-1.08,1.27Z" />
                                        <rect width="352.22" height="18.27"
                                            x="32.91" y="394.2" fill="#ffb833"
                                            rx="3.57" />
                                        <rect width="137.84" height="63.86"
                                            x="141.49" y="77.74" fill="#ffb833"
                                            rx="30.1" />
                                        <path fill="#ffb833"
                                            d="M230.25,134.67a20.49,20.49,0,0,0,1.86,10.61c3.48,7.2,10.64,10.25,15.74,11.54a2.63,2.63,0,0,0,3-3.7,31,31,0,0,1-2.29-20.29Z" />
                                        <circle cx="389.7" cy="134.68" r="71.11"
                                            fill="#ffdb99" />
                                        <path fill="#ffdb99"
                                            d="M421.08,195.59c1.1,13.26,4.93,31,18.27,44,6.77,6.57,11.8,7.84,16.87,11.28,23.86,16.21,19.7,61.23,19,94.69-.62,29.58,1,70.18,10.82,120.32,0,0-87,34.41-175.28,0,0,0,4.57-13.09,9-31,6-24,7.45-44.21,8.25-59.93,4-77.73-12.51-102.43,5.08-118.44,13.89-12.64,32.19-4.53,42-21,0,0,2.37-4,7.44-34.51Z" />
                                        <path fill="#ffdb99"
                                            d="M419.39,206.66c-50.77,16.88-72.9,9.23-83.75-.51-30-26.94-17.05-108.63-17.05-108.64h0s56.89-64,112.76-20.47c3.91,3,20,15,26.41,36.27C467.09,144.42,451.85,181.73,419.39,206.66Z" />
                                        <path fill="#383333"
                                            d="M346.88,131.57a20.09,20.09,0,0,0-11.78-2.95c-2.81.14-6.61.31-7.62,2.59a3.07,3.07,0,0,0,.3,3.09c1.44,1.67,4.62-.16,10-.59,7-.56,11.78,1.77,12.17.73C350.19,133.69,347.81,132.17,346.88,131.57Z" />
                                        <ellipse cx="356.91" cy="161.76"
                                            fill="#ffc871" rx="4.86" ry="7.81"
                                            transform="rotate(-89.4 356.647 161.841)" />
                                        <path fill="#ffdb99"
                                            d="M383.32,137.3a13.4,13.4,0,0,1,9.22-5.34,10.28,10.28,0,0,1,6.37,1.33c6.26,4.26,6.68,20.73-2.12,26.35-4.92,3.13-10.88,1.71-12.91,1.13Q383.6,149,383.32,137.3Z" />
                                        <path fill="#383333"
                                            d="M392.19,155.24a.34.34,0,0,1-.23-.08.37.37,0,0,1-.07-.52c1.86-2.45,2.51-4.76,1.95-6.87-1-3.67-5.33-5.57-5.37-5.59a.38.38,0,0,1-.23-.4.39.39,0,0,1,.34-.32l9.17-1a.37.37,0,0,1,.41.33.36.36,0,0,1-.33.41l-7.94.87c1.47.86,3.93,2.67,4.68,5.49.62,2.35-.08,4.88-2.08,7.52A.38.38,0,0,1,392.19,155.24Z" />
                                        <path fill="#383333" fill-rule="evenodd"
                                            d="M337.4,153.45a5.88,5.88,0,1,1-.62-8.27A5.88,5.88,0,0,1,337.4,153.45Z" />
                                        <path fill="#383333"
                                            d="M379.85 216.46a.5.5 0 010-1c11.28-.64 31.63-6.81 31.83-6.88a.52.52 0 01.63.34.5.5 0 01-.34.62c-.2.06-20.66 6.27-32.06 6.92zM334.12 189a10.16 10.16 0 01-1.44-.1.37.37 0 01-.32-.42.36.36 0 01.42-.32 9.49 9.49 0 008.57-3.25.38.38 0 01.53-.05.37.37 0 010 .53 10.17 10.17 0 01-7.8 3.61z" />
                                        <path fill="#ffdb99"
                                            d="M315.92,135.86s.69,9.6-5.56,14.46-.12,15,13.32,11.53C323.68,161.85,324.37,134.86,315.92,135.86Z" />
                                        <path fill="#383333"
                                            d="M328,374.94c-.8,15.72-2.29,35.9-8.25,59.93-4.44,17.91-9,31-9,31,88.32,34.41,175.28,0,175.28,0-9.78-50.14-11.44-90.74-10.82-120.32.7-33.46,4.86-78.48-19-94.69-3.09-2.1-6.17-3.39-9.63-5.57-29,10.27-81.87-.55-81.87-.55h0C355,249,343,247.53,333.1,256.5,315.51,272.51,332,297.21,328,374.94Z" />
                                        <path fill="#ffb833"
                                            d="M89.64 205.34h-9a1.59 1.59 0 010-3.18h9a1.59 1.59 0 010 3.18zM98.74 203.75a1.59 1.59 0 011.59-1.59h0a1.59 1.59 0 011.59 1.59h0a1.59 1.59 0 01-1.59 1.59h0A1.59 1.59 0 0198.74 203.75z" />
                                        <path fill="#ffb833"
                                            d="M224.35,205.34a1.59,1.59,0,1,1,1.59-1.59A1.59,1.59,0,0,1,224.35,205.34Zm-10.68,0H195.49a1.6,1.6,0,0,1-1.08-.41,1.53,1.53,0,0,1-1.06.41,1.59,1.59,0,0,1,0-3.18,1.54,1.54,0,0,1,1.06.42,1.61,1.61,0,0,1,1.08-.42h18.18a1.59,1.59,0,0,1,0,3.18Zm-31,0H164.48a1.56,1.56,0,0,1-1.07-.41,1.54,1.54,0,0,1-1.07.41,1.59,1.59,0,1,1,1.07-2.76,1.57,1.57,0,0,1,1.07-.42h18.18a1.59,1.59,0,0,1,0,3.18Zm-31,0H133.47a1.57,1.57,0,0,1-1.07-.41,1.54,1.54,0,0,1-1.07.41,1.59,1.59,0,0,1,0-3.18,1.55,1.55,0,0,1,1.07.42,1.58,1.58,0,0,1,1.07-.42h18.18a1.59,1.59,0,0,1,0,3.18Zm-31,0H102.46a1.59,1.59,0,1,1,0-3.18h18.18a1.59,1.59,0,0,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M235.51 205.34h-9a1.59 1.59 0 110-3.18h9a1.59 1.59 0 010 3.18zM93.53 222.38h-9a1.59 1.59 0 110-3.18h9a1.59 1.59 0 010 3.18zM103.43 220.79a1.6 1.6 0 011.6-1.59h0a1.59 1.59 0 011.58 1.59h0a1.59 1.59 0 01-1.58 1.59h0A1.6 1.6 0 01103.43 220.79z" />
                                        <path fill="#ffb833"
                                            d="M171.71,222.38a1.59,1.59,0,1,1,1.59-1.59A1.59,1.59,0,0,1,171.71,222.38Zm-11.5,0H140.67a1.57,1.57,0,0,1-1.15-.5,1.59,1.59,0,1,1-1.16-2.68,1.64,1.64,0,0,1,1.16.49,1.6,1.6,0,0,1,1.15-.49h19.54a1.59,1.59,0,0,1,0,3.18Zm-33.35,0H107.32a1.59,1.59,0,1,1,0-3.18h19.54a1.59,1.59,0,1,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M183 222.38h-9a1.59 1.59 0 110-3.18h9a1.59 1.59 0 010 3.18zM93.53 238.12h-9a1.59 1.59 0 110-3.18h9a1.59 1.59 0 010 3.18zM102.28 236.52a1.59 1.59 0 011.59-1.59h0a1.59 1.59 0 011.6 1.59h0a1.6 1.6 0 01-1.6 1.6h0A1.6 1.6 0 01102.28 236.52z" />
                                        <path fill="#ffb833"
                                            d="M223.93,238.12a1.6,1.6,0,1,1,1.59-1.6A1.6,1.6,0,0,1,223.93,238.12Zm-10.36,0H196a1.62,1.62,0,0,1-1-.39,1.53,1.53,0,0,1-1,.39,1.6,1.6,0,0,1,0-3.19,1.58,1.58,0,0,1,1,.38,1.66,1.66,0,0,1,1-.38h17.59a1.6,1.6,0,1,1,0,3.19Zm-30,0H166a1.57,1.57,0,0,1-1-.39,1.59,1.59,0,1,1-1-2.8,1.64,1.64,0,0,1,1,.38,1.62,1.62,0,0,1,1-.38h17.6a1.6,1.6,0,0,1,0,3.19Zm-30,0H136a1.53,1.53,0,0,1-1-.39,1.62,1.62,0,0,1-1,.39,1.6,1.6,0,0,1,0-3.19,1.66,1.66,0,0,1,1,.38,1.58,1.58,0,0,1,1-.38h17.6a1.6,1.6,0,0,1,0,3.19Zm-30,0h-17.6a1.6,1.6,0,0,1,0-3.19h17.6a1.6,1.6,0,0,1,0,3.19Z" />
                                        <path fill="#ffb833"
                                            d="M235 238.12h-9a1.59 1.59 0 110-3.18h9a1.59 1.59 0 010 3.18zM96.74 254.18h-9a1.59 1.59 0 010-3.18h9a1.59 1.59 0 110 3.18zM103.91 252.6A1.59 1.59 0 01105.5 251h0a1.59 1.59 0 011.58 1.59h0a1.59 1.59 0 01-1.58 1.59h0A1.59 1.59 0 01103.91 252.6z" />
                                        <path fill="#ffb833"
                                            d="M156.28,254.19a1.59,1.59,0,1,1,1.6-1.58A1.59,1.59,0,0,1,156.28,254.19Zm-8.76,0H132.64a1.49,1.49,0,0,1-.87-.27,1.57,1.57,0,0,1-.88.27,1.59,1.59,0,1,1,0-3.18,1.64,1.64,0,0,1,.88.26,1.56,1.56,0,0,1,.87-.26h14.88a1.59,1.59,0,1,1,0,3.17Zm-25.39,0H107.24a1.59,1.59,0,0,1,0-3.18h14.88a1.59,1.59,0,1,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M167.05 254.2h-9a1.59 1.59 0 110-3.18h9a1.6 1.6 0 010 3.19zM100 270.42H91a1.59 1.59 0 110-3.18h9a1.59 1.59 0 110 3.18zM108.49 268.83a1.59 1.59 0 011.59-1.58h0a1.59 1.59 0 011.59 1.58h0a1.59 1.59 0 01-1.59 1.59h0A1.59 1.59 0 01108.49 268.83z" />
                                        <path fill="#ffb833"
                                            d="M198,270.45a1.59,1.59,0,0,1,0-3.18,1.55,1.55,0,0,1,1.13.47,1.52,1.52,0,0,1,.46,1.12A1.59,1.59,0,0,1,198,270.45Zm-10.1,0H170.7a1.62,1.62,0,0,1-1-.36,1.63,1.63,0,0,1-2.14-.11,1.57,1.57,0,0,1-.46-1.12,1.59,1.59,0,0,1,2.6-1.23,1.62,1.62,0,0,1,1-.36h17.18a1.57,1.57,0,0,1,1.12.47,1.54,1.54,0,0,1,.47,1.12A1.59,1.59,0,0,1,187.88,270.44Zm-29.3,0H141.41a1.65,1.65,0,0,1-1-.36,1.59,1.59,0,1,1,0-2.46,1.62,1.62,0,0,1,1-.36h17.18a1.59,1.59,0,1,1,0,3.18Zm-29.3,0H112.11a1.59,1.59,0,0,1-1.59-1.59,1.59,1.59,0,0,1,1.59-1.58h17.17a1.59,1.59,0,1,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M209 270.45h-9a1.59 1.59 0 010-3.18h9a1.59 1.59 0 010 3.18zM103.26 286.85h-9a1.59 1.59 0 110-3.18h9a1.6 1.6 0 010 3.19zM113.56 285.25a1.59 1.59 0 011.59-1.58h0a1.59 1.59 0 011.59 1.59h0a1.59 1.59 0 01-1.59 1.59h0A1.6 1.6 0 01113.56 285.25z" />
                                        <path fill="#ffb833"
                                            d="M184.13,286.88h0a1.59,1.59,0,1,1,0-3.18,1.56,1.56,0,0,1,1.13.47,1.52,1.52,0,0,1,.45,1.11A1.59,1.59,0,0,1,184.13,286.88Zm-11.89,0-20.22,0a1.58,1.58,0,0,1-1.19-.53,1.59,1.59,0,1,1,0-2.12,1.59,1.59,0,0,1,1.19-.53h20.22a1.57,1.57,0,0,1,1.12.47,1.55,1.55,0,0,1,.46,1.12A1.59,1.59,0,0,1,172.24,286.88Zm-34.49,0H117.53a1.59,1.59,0,1,1,0-3.18h20.22a1.53,1.53,0,0,1,1.12.47,1.54,1.54,0,0,1,.47,1.12A1.59,1.59,0,0,1,137.75,286.85Z" />
                                        <path fill="#ffb833"
                                            d="M195.53 286.89h-9a1.59 1.59 0 010-3.18h9a1.59 1.59 0 010 3.18zM106.58 303.45h-9a1.6 1.6 0 010-3.19h9a1.59 1.59 0 010 3.18zM115.6 301.87a1.59 1.59 0 011.59-1.59h0a1.59 1.59 0 011.59 1.59h0a1.59 1.59 0 01-1.59 1.59h0A1.6 1.6 0 01115.6 301.87z" />
                                        <path fill="#ffb833"
                                            d="M240.31,303.5h0a1.59,1.59,0,1,1,1.12-2.72,1.61,1.61,0,0,1,.47,1.13A1.59,1.59,0,0,1,240.31,303.5Zm-10.62,0h-18a1.59,1.59,0,0,1-1.06-.4,1.64,1.64,0,0,1-2.19-.07,1.56,1.56,0,0,1-.46-1.12,1.59,1.59,0,0,1,2.65-1.19,1.61,1.61,0,0,1,1-.4h18.05a1.59,1.59,0,0,1,0,3.18Zm-30.78,0h-18a1.58,1.58,0,0,1-1.06-.4,1.67,1.67,0,0,1-1.07.4,1.59,1.59,0,0,1,0-3.18,1.57,1.57,0,0,1,1.08.4,1.49,1.49,0,0,1,1.06-.4h18a1.59,1.59,0,0,1,0,3.18Zm-30.78,0h-18a1.57,1.57,0,0,1-1.07-.42,1.53,1.53,0,0,1-1.05.41,1.59,1.59,0,1,1,0-3.17,1.56,1.56,0,0,1,1.07.4,1.51,1.51,0,0,1,1.06-.4h18a1.58,1.58,0,0,1,1.13.46,1.55,1.55,0,0,1,.47,1.13A1.59,1.59,0,0,1,168.13,303.47Zm-30.77,0H119.31a1.59,1.59,0,1,1,0-3.18h18a1.59,1.59,0,1,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M251.45 303.51h-9a1.59 1.59 0 010-3.18h9a1.6 1.6 0 010 3.19zM109.94 320.24h-9a1.6 1.6 0 010-3.19h9a1.59 1.59 0 110 3.18zM119.05 318.65a1.59 1.59 0 011.6-1.58h0a1.59 1.59 0 011.58 1.59h0a1.59 1.59 0 01-1.59 1.59h0A1.6 1.6 0 01119.05 318.65z" />
                                        <path fill="#ffb833"
                                            d="M213.77,320.31a1.6,1.6,0,1,1,1.13-2.72,1.56,1.56,0,0,1,.47,1.12A1.6,1.6,0,0,1,213.77,320.31Zm-10.7,0h-18.2a1.51,1.51,0,0,1-1.07-.41,1.64,1.64,0,0,1-2.2-.05,1.6,1.6,0,0,1,1.13-2.72,1.6,1.6,0,0,1,1.07.41,1.6,1.6,0,0,1,1.07-.41h18.2a1.59,1.59,0,1,1,0,3.18Zm-31,0h0l-18.21,0a1.59,1.59,0,0,1-1.07-.41,1.62,1.62,0,0,1-2.19-.05,1.59,1.59,0,0,1,1.12-2.71,1.56,1.56,0,0,1,1.07.41,1.6,1.6,0,0,1,1.08-.41H172a1.59,1.59,0,1,1,0,3.18Zm-31,0H122.78a1.57,1.57,0,0,1-1.12-.47,1.58,1.58,0,0,1,1.12-2.71H141a1.59,1.59,0,0,1,0,3.18Z" />
                                        <path fill="#ffb833"
                                            d="M224.94,320.31h-9a1.59,1.59,0,0,1,0-3.18h9a1.59,1.59,0,0,1,0,3.18Z" />
                                        <path fill="#fff3e3"
                                            d="M189.57 127.67a2 2 0 01-1.36-.53l-16.88-15.65a2.05 2.05 0 01-.65-1.43 2 2 0 01.59-1.45l16.89-16.89A2 2 0 01191 94.55L175.57 110l15.36 14.23a2 2 0 01-1.36 3.47zM231 127.67a2 2 0 01-1.46-.64 2 2 0 01.11-2.83L245 110 229.59 94.55a2 2 0 112.83-2.83l16.89 16.89a2 2 0 01-.06 2.88l-16.89 15.65A2 2 0 01231 127.67zM200.54 133.79a1.93 1.93 0 01-.63-.1 2 2 0 01-1.27-2.53l14.83-44.67a2 2 0 113.79 1.26l-14.83 44.67A2 2 0 01200.54 133.79z" />
                                        <path fill="#ffdb99"
                                            d="M209,361.37s-37,.53-44,1.94-37,15.74-34.65,20.34,6.8,3.76,12.24,1.17,16.23-2.47,25.6.13,28.41,8.95,36.48,7.54S209,361.37,209,361.37Z" />
                                        <path fill="#383333"
                                            d="M349.93 248.64c-5.48.32-13.84 1.62-21.55 7-11.24 7.83-14 19.33-22.81 45.62-3.14 9.32-8.1 23.64-14.86 41.38l-87.52 17.5a35.8 35.8 0 00-5.84 33.42c45.19 7.2 78.42 5.91 99.2 3.71 7.7-.81 14.81-1.86 22.81-5.83 29.38-14.58 37.44-51.88 39.78-66.09C359.14 325.34 364.59 261.81 349.93 248.64zM311.14 61.89S294.59 80.58 307.9 97s39 5 59.46 6.11-11.45 42.08 16 51.74c0 0-4.06-17.6 3.52-20.88s14.24-1.85 15.88 5.26-.35 21.87-11.75 22.51 9 56.44 35 44c24.58-11.73 62-83 31.24-123.09-14.15-18.43-43.85-30.45-69.08-26.35C365.59 60 349.79 76 326.43 69.44A47.68 47.68 0 01311.14 61.89z" />
                                        <path fill="#fff"
                                            d="M327.31 387.69a.49.49 0 01-.4-.21.51.51 0 01.11-.7c29.68-21.87 29.4-78.06 29.39-78.63a.5.5 0 01.49-.5h0a.5.5 0 01.5.49c0 .57.3 57.27-29.8 79.45A.54.54 0 01327.31 387.69zM341.36 97.7c-8.31 0-14.54-2.21-18.56-6.58-6.28-6.84-4.77-16.41-4.7-16.81a.5.5 0 011 .16c0 .1-1.49 9.5 4.47 16 4.44 4.84 11.83 6.88 21.94 6.08A.49.49 0 01346 97a.5.5 0 01-.46.54C344.11 97.64 342.71 97.7 341.36 97.7zM388.14 126.17h-.06a7.8 7.8 0 01-6.14-3.84c-4.55-7.74 1.48-24.51 3-28.54-37.77 7-46.25-7.9-46.6-8.55a.49.49 0 01.2-.67.5.5 0 01.68.2c.08.15 8.7 15.13 46.42 7.87a.51.51 0 01.56.69c-.08.2-8.26 20.28-3.43 28.5a6.71 6.71 0 005.38 3.34.5.5 0 01.44.56A.5.5 0 01388.14 126.17zM436.77 185.93a.49.49 0 01-.38-.82c24-27.82 23.59-79.25 23.58-79.77a.5.5 0 01.49-.5h0a.49.49 0 01.5.49c0 .52.42 52.32-23.83 80.43A.46.46 0 01436.77 185.93zM411.8 184.17a.5.5 0 01-.08-1c26-4.14 33.68-41.29 33.75-41.67a.49.49 0 01.59-.39.51.51 0 01.39.59c-.07.38-7.87 38.21-34.57 42.46zM409.54 160.38a.5.5 0 01-.45-.27.49.49 0 01.22-.67c9.42-4.82 13.92-14.91 15.09-17.9-4.52 1-8.2.23-11-2.2-7.63-6.71-5.55-23.88-5.46-24.61a.5.5 0 111 .13c0 .17-2.1 17.37 5.14 23.73 2.67 2.36 6.36 3 10.95 1.77a.5.5 0 01.49.14.49.49 0 01.11.49c0 .14-4.44 13.48-15.9 19.34A.44.44 0 01409.54 160.38zM383.32 68.88a.49.49 0 01-.46-.3.5.5 0 01.26-.66c.21-.09 20.82-8.66 34.69 0a.51.51 0 01.16.69.5.5 0 01-.69.15c-13.43-8.42-33.57 0-33.77 0A.43.43 0 01383.32 68.88z" />
                                        <path fill="#383333"
                                            d="M331.33,184.48a13.71,13.71,0,0,1-3.22-.33.51.51,0,0,1-.35-.62.52.52,0,0,1,.62-.35c.09,0,9.21,2.4,16.72-6.51a.49.49,0,0,1,.7-.06.49.49,0,0,1,.06.7C340.74,183.4,334.87,184.48,331.33,184.48Z" />
                                    </svg>
                                    <span>Programming-Fundamental</span></label>
                            </li>
                            <li class="categories__list category bg-brand-fill-1 cursor-pointer drop-shadow p-4 mb-4"><input
                                    class="search__control absolute opacity-0" type="radio"
                                    name="posts__catgegory" id="design"
                                    value="design" /><label class="posts__label relative flex gap-4 items-center"
                                    for="design">
                                    <svg width="24" height="24"
                                        viewBox="0 0 20 20">
                                        <linearGradient id="a" x1="4.528"
                                            x2="15.427" y1="10.982" y2="10.982"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#ffc80b" />
                                            <stop offset="1"
                                                stop-color="#e89318" />
                                        </linearGradient>
                                        <path fill="url(#a)"
                                            d="m4.7 7.1 1.4-1.4c.2-.2.5-.2.7 0l8.5 8.5c.2.2.2.5 0 .7l-1.4 1.4c-.2.2-.5.2-.7 0L4.7 7.8c-.2-.2-.2-.5 0-.7z" />
                                        <linearGradient id="b" x1="12.104"
                                            x2="14.225" y1="14.877" y2="14.877"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#b)"
                                            d="m12.1 15.2.7.7 1.4-1.4-.7-.7z" />
                                        <linearGradient id="c" x1="10.69"
                                            x2="12.115" y1="13.81" y2="13.81"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#c)"
                                            d="m10.7 13.8.7.7.7-.7-.7-.7z" />
                                        <linearGradient id="d" x1="9.276"
                                            x2="11.397" y1="12.048" y2="12.048"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#d)"
                                            d="m9.3 12.4.7.7 1.4-1.4-.7-.7z" />
                                        <linearGradient id="e" x1="7.852"
                                            x2="9.278" y1="10.973" y2="10.973"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#e)"
                                            d="m7.9 11 .7.7.7-.7-.7-.7z" />
                                        <linearGradient id="f" x1="6.447"
                                            x2="8.569" y1="9.22" y2="9.22"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#f)"
                                            d="m6.4 9.6.8.7 1.4-1.4-.7-.7z" />
                                        <linearGradient id="g" x1="5.033"
                                            x2="6.458" y1="8.153" y2="8.153"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#g)"
                                            d="m5 8.2.7.7.8-.8-.7-.7z" />
                                        <linearGradient id="h" x1="12.72"
                                            x2="15.427" y1="6.886" y2="6.886"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#ffc80b" />
                                            <stop offset="1"
                                                stop-color="#e89318" />
                                        </linearGradient>
                                        <path fill="url(#h)"
                                            d="m13.7 7.9-.7-.7c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l.7.7c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0z" />
                                        <linearGradient id="i" x1="5.59"
                                            x2="14.32" y1="11.007" y2="11.007"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#ff5640" />
                                            <stop offset="1"
                                                stop-color="#cc3737" />
                                        </linearGradient>
                                        <path fill="url(#i)"
                                            d="m7.7 15.4-2.1-2.1 6.6-6.7 2.1 2.2z" />
                                        <linearGradient id="j" x1="6.18"
                                            x2="15.051" y1="10.348" y2="10.348"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#j)"
                                            d="m15.1 8-2.2-2.1-.8.8.7.7-6.6 6.7.7.7 6.6-6.7.8.7z" />
                                        <linearGradient id="k" x1="4.528"
                                            x2="7.71" y1="14.841" y2="14.841"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#ffc80b" />
                                            <stop offset="1"
                                                stop-color="#e89318" />
                                        </linearGradient>
                                        <path fill="url(#k)"
                                            d="m4.5 16.4 1.1-3.2 2.1 2.2z" />
                                        <linearGradient id="l" x1="4.528"
                                            x2="5.588" y1="15.902" y2="15.902"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0"
                                                stop-color="#708afb" />
                                            <stop offset="1"
                                                stop-color="#426de8" />
                                        </linearGradient>
                                        <path fill="url(#l)"
                                            d="m4.9 15.4-.4 1 1.1-.3z" />
                                    </svg>
                                    <span>Design</span></label></li>
                        </ul>
                        <div class="search__field mt-8  relative">
                            <iconify-icon icon="fluent-mdl2:search"
                                style="color: black;" width="24" height="24"
                                class="filter absolute bottom-6 right-6 z-20"></iconify-icon>
                            <label class="search__label"
                                for="search-posts hide"></label>
                            <input class="search__input block w-full p-8 border-2 border-solid border-brand-light-text1 text-fluid-1 shadow-md" type="text"
                                placeholder="Filter posts" id="search-posts" />
                        </div>
                    </div>
                </fieldset>
               