---
import HeaderLink from "./HeaderLink.astro";
const today = new Date();
---
<footer>
    <div>
      <div class=""><HeaderLink href="https://www.twitter.com/Dr3_147" class="text-fluid-2 text-fg-dark"
                    target="_blank">
                    <iconify-icon icon="pajamas:twitter" width="2em"
                        height="1em" class="social"></iconify-icon>
                </HeaderLink>

                <HeaderLink href="https://www.github.com/dr3apap" class="text-fluid-2 text-fg-dark"
                    target="_blank">
                    <iconify-icon icon="fe:github" width="2em" height="1em"
                        class="social"></iconify-icon>
                </HeaderLink>
                <HeaderLink href="https://www.linkedin.com/in/adebola-adesina-8881a4195/"
                    class="text-fluid-2 text-fg-dark" target="_blank">
                    <iconify-icon icon="mdi:linkedin" width="2em" height="1em"
                        class="social"></iconify-icon>
                </HeaderLink>

            </div>  
           <div>
             <p class="text-fluid--1">Designed and Developed by Adebola Adesina </p>
            <p class="text-[.9rem] la:items-center">&COPY;{ today.getFullYear() } All rights reserved</p>
         </div>
</div>
</footer>