---
import { Icon } from "astro-icon"; 
---
 <article class="blog__feature feature">
                    
                    <div class="feature__details">
                        <h2 class="feature__title"><a href=""> Fundamental of
                        Solid Programming Foundation</a></h2>
                        <p class="feature__info">
                            People are often intimidated to learn coding or
                            programming. I know how daunting it can be when
                            you're misguided or when the information been fed
                            are blury and overwhelming. I was a victim of
                            infinite coding informations which led to tutorial
                            hell,
                            poor techniques with no structural and learning
                            foundation.
                            I promised myself to do better once I master the
                            aforementioned
                            skills. So here I am fulfilling that promise with a
                            straight to the point and crisp information for
                            beginners.
                        </p>
                        <div class="feature__icons">
                        <span class="feature__icon">
                            <svg  width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"/></svg>
                            <span>Programming Fundamental</span>
                        </span>
                        <span class="feature__icon">
                           <Icon name="noto:mantelpiece-clock" width="24" height="24"></Icon>
                             <span>~30mins read.</span>
                        </span>
                        <span class="feature__icon">
                            <Icon name="mdi:calendar-month-outline"
                                style="color: black;" width="24" height="24"
                                class="icon"/>
                            <span><i>Nov 29, 2022</i></span><span
                                class="update"><i></i></span>
                        </span>
                        <p class="comment">comments <span
                                class="comment__count">0</span></p>
                        </div>
                    </div>
                    <a class="feature__image" href=""><img class="w-full object-cover aspect-square la:w-[50%]"
                            src="/asset/demos/programming.jpg" alt="Image of a programmer"></a>
                    <div class="feature__label">
                        <span class="feature__label-text">Featured</span>
                    </div>

                </article>