<div class="blog__intro">
                     <h1>sharing</h1>
                    <div class="blog__intro__intro">
                        <p>I love the dev commnunity, I appreciate open
                            source and above all I love sharing knowledge.
                            My learning benefited from open source and dev
                            blog posts. This is why I'm giving back by sharing 
                            what I know, what I've learnt and what I'm exploring.
                            We all rise when we share our thougt and knowledge
                            because no one is an Island of <i>knowledge</i>.</p>
                        <p class="subscribe">Don't want to miss a thing follow
                            me on <a
                                href="https://twitter.com/intent/follow?screen_name=Dr3_147"
                                target="_blank"
                                rel="noopener noreferrer">Twitter</a> or check
                            <a href="/posts.xml">RSS feed</a>!
                        </p>
                    </div>
                </div>