<main class="px-8 py-24 mx-auto my-32 max-w-screen-md bg-brand-light-surface2">
   <form action="" id="contact" class="p-8">
   <label class="block mb-20 pb-4  text-fluid-1 text-brand-secondary-light-text1" for="fullname" id="">Full Name<input class="appearance-none w-full h-20 pl-4 border border-solid border-brand-light" type="text" name="fullname" id="fullname"/></label>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for="" id="email">Email<input class="w-full h-20 pl-4 border border-solid border-brand-light" type="text" name="" id="email"/></label>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for="company">Company<input class="w-full h-20 pl-4 border border-solid border-brand-light" type="text" name="" id="company"/></label>
   <p class="mb-8 text-fluid-2 pb-4 -2">Please Choose What your Inquiry is About</p>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for=""><input class="mr-4 form-input border border-solid border-brand-light-text1" type="checkbox" name="" id=""/>Full time employment</label>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for=""><input class="mr-4 form-input border border-solid border-brand-light-text1" type="checkbox" name="" id=""/>Part time employtment</label>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for=""><input class="mr-4 form-input border border-solid border-brand-light-text1" type="checkbox" name="" id=""/>Contract</label>
   <label class="block mb-24 pb-4  text-fluid-1 text-brand-secondary-light-text1" for=""><input class="mr-4 form-input border border-solid border-brand-light-text1" type="checkbox" name="" id=""/>Other</label>
  <label class="block mb-24 pb-4 text-fluid-1 text-brand-secondary-light-text1" for="message">Message <textarea class="w-full border border-solid border-brand-light-text1 p-3" name="message" id="meassage" cols="30" rows="10"></textarea></label>
   <button class="cta-btn px-8 py-4 bg-brand-light text-fluid-1 text-brand-light-text1 rounded-full">Submit</button>
</form>
</main>