<section id="demos" tabindex="-1" class="mt-20">
    <div class="demos__header mb-8">
        <h2 class="text-fluid-3 mb-4 p-0">Adebola's Demos</h2>
        <p>
            Learning is effective when it's combined with doing and havning fun.
        </p>
        <p>I created some demos and systems.</p>
    </div>

    <!-- Demos card wrapper (outer wrapper -->
    <div
        class="flex gap-x-2 items-start"
    >
        <button
            class="border-2 text-fluid--0 bg-surface-headings rounded-full w-12 h-12 px-4 text-brand-stroke self-center text-center"
            ><span>&#10094;</span></button
        >
        <!-- Demos cards wrapper -->
        <div class="grid grid-cols-[repeat(2,_minmax(15rem,_1fr))] gap-x-4 place-items-start grid-rows-1 overflow-x-hidden sm:grid-cols-[repeat(3,_minmax(20rem,_1fr))]">
        <div class="grid bg-surface-1-accent gap-y-4 drop-shadow-md mb-4">
            <div class="">
                <img src="/asset/demos/game.jpg" alt="Image of game controller" class="w-full aspect-square" />
            </div>

            <h3 class="text-fluid-2 px-4 text-text-1-accent">Game Hub</h3>
            <input type="checkbox" id="game-hub-toggle" class="opacity-0 absolute z-[-1]"/>
            <label for="game-hub-toggle" class="accordion-ctrl bg-surface-1 p-2  align-middle">Learn More
                <span class="pl-2" >&#10095;</span>
            </label>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4 pt-8">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4 text-text-1-accent">Description</h3>
                   
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the fina
                        state of close
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4 text-text-1-accent">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 text-brand-light-text2">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->

        <!-- Demos card -->
        <div class="grid gap-y-4 bg-surface-1-accent drop-shadow-md mb-4">
            <div class="h-[80%]">
                <img src="/asset/demos/calendar.jpg" alt="Image of game controller" class="w-full aspect-square" />
            </div>

            <h3 class="text-fluid-2 px-4 text-text-1-accent">Calendar</h3>
            <input type="checkbox" id="calendar-toggle" class="opacity-0 absolute z-[-1]"/>
            <label for="calendar-toggle" class="accordion-ctrl p-2 align-middle bg-surface-1">Learn More
                <span class="pl-2">&#10095;</span>
            </label>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4 pt-8">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4 text-text-1-accent">Description</h3>
                   
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the final
                        state of close
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4 text-text-1-accent">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 text-brand-light-text2">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->
       

        <!-- Demos card -->
         <div class="grid gap-y-4 bg-surface-1-accent drop-shadow-md mb">
            <div class="h-[80%]">
                <img src="/asset/demos/3d.jpg" alt="Image of game controller" class="w-full aspect-square" />
            </div>

            <h3 class="text-fluid-2 px-4 text-text-1-accent">3D Animation</h3>
            <input type="checkbox" id="3d-toggle" class="opacity-0 absolute z-[-1]"/>
            <label for="3d-toggle" class="accordion-ctrl p-2 align-middle bg-surface-1">Learn More
                <span class="pl-2">&#10095;</span>
            </label>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4 pt-8">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4 text-text-1-accent">Description</h3>
                   
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the final
                        state of close
                   </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4 text-text-1-accent">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 text-brand-light-text2">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->
        <!-- Demos card -->
         <div class="grid gap-y-4 bg-surface-1-accent drop-shadow-md mb-4">
            <div class="h-[80%]">
                <img src="/asset/demos/3d.jpg" alt="Image of game controller" class="w-full aspect-square" />
            </div>

            <h3 class="text-fluid-2 px-4 text-text-1-accent">3D Animation</h3>
            <input type="checkbox" id="3d-toggle" class="opacity-0 absolute z-[-1]"/>
            <label for="3d-toggle" class="accordion-ctrl p-2 alighn-middle bg-surface-1">Learn More
                <span class="pl-2">&#10095;</span>
            </label>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4 pt-8">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4 text-text-1-accent">Description</h3>
                   
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwis
                        leave open.Report state can be track till the final
                        state of close
                   </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4 text-text-1-accent">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 text-brand-light-text2">[Try Bug-Tracker]</a>
        </div>
    </div><!-- demos card end -->
        <button
        class="border-2 text-fluid--0 bg-surface-headings w-12 h-12 px-4 rounded-full text-brand-stroke self-center text-center"
        ><span>&#10095;</span></button>
    </div>
    
</section>