<section id="demos" tabindex="-1">
    <div class="demos__header mb-6">
        <h2 class="text-fluid-3 mb-4 p-0 sm:text-fluid-3">Adebola's Demos</h2>
        <p>
            Learning is effective when it's combined with doing and havning fun.
        </p>
        <p>I created some demos and systems.</p>
    </div>

    <div
        class="grid grid-cols-[repeat(2,_minmax(min-content,_1fr))] gap-4 sm:grid-cols-2 grid-flow-row-auto relative la:grid-cols-[repeat(3,_minmax(min-content,_25rem))]"
    >
        <!-- Demos card wrapper -->
        <button
            class="bg-brand-light-surface1 w-12 h-12 flex justify-center items-center absolute rounded-full p-2 text-brand-light-text2 top-0 left-56"
            >&#10094;</button
        >
  <div class="grid bg-brand-light-surface1 rad-shadow pb-4">
            <!-- Demos card -->
            <div class="">
                <img src="/asset/demos/game.jpg" alt="Image of game controller" class="w-full" />
            </div>

            <h3 class="text-fluid-2 mt-4 px-4">Game Hub</h3>
            <label for="game-hub-toggle" class="flex justify-between px-4 bg-brand-secondary-light-surface1 text-brand-secondary-light-text2 mt-4">
                <span class="">Learn more</span>
                <span class="">&#10095;</span>
                        </label>
                        <input type="checkbox" id="game-hub-toggle"/>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4">Description</h3>
                   
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the final
                        state of close
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 mt-4 text-brand-light-text2">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->

       <div class="grid bg-brand-light-surface1 rad-shadow pb-4">
            <!-- Demos card -->
            <div class="">
                <img src="/public/asset/demos/calendar.jpg" alt="Image of a Calendar" class="w-full" />
            </div>

            <h3 class="text-fluid-2 mt-4 px-4">Calendar</h3>
            <label for="calendar-toggle" class="flex justify-between px-4 bg-brand-secondary-light-surface1 text-brand-secondary-light-text1 mt-4">

                <span class="">Learn more</span>
                <span class="">&#10095;</span>
                        </label>
                        <input type="checkbox" id="calendar-toggle"/>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4">Description</h3>
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the final
                        state of close
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                   <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png" alt="CSS3 Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png" alt="Javascript Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png" alt="Typescript Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png" alt="Sql Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png" alt="React Image"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 mt-4">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->
       

        <div class="grid bg-brand-light-surface1 rad-shadow pb-4">
            <!-- Demos card -->
            <div class="">
                <img src="/asset/demos/3d.jpg" alt="3d Image" class="w-full" />
            </div>

            <h3 class="text-fluid-2 mt-4 px-4">3D Demos</h3>
            <label for="3d-toggle" class="flex justify-between px-4 bg-brand-secondary-light-surface1 text-brand-secondary-light-text1 mt-4">

                <span class="">Learn more</span>
                <span class="">&#10095;</span>
                        </label>
                        <input type="checkbox" id="3d-toggle"/>
            <div class="accordion px-4">
                <!--accordion -->
                <div class="mt-4">
                    <!--accordion description -->
                    <h3 class="text-fluid-2 mb-4">Description</h3>
                    <p>
                        Bug tracker is an app that let user report a bug or
                        issue about a specific application detailing what went
                        wrong.This allow the developer to fix the issue, when
                        this is done the open report will be close otherwise
                        leave open.Report state can be track till the final
                        state of close
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                    <div class="flex gap-2">
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/002-css-3.png" alt="CSS3 Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/003-js.png" alt="Javascript Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/004-typescript.png" alt="Typescript Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/005-sql-server.png" alt="Sql Image"
                        />
                        <img
                            class="w-6 aspect-square"
                            src="/asset/skills/001-science.png" alt="React Image"
                        />
                    </div>
                </div>
            </div> <!-- accordion end -->
            <a href="" class="block px-4 mt-4">[Try Bug-Tracker]</a>
        </div><!-- demos card end -->
        <button
        class="bg-brand-light-surface1 w-12 h-12 flex justify-center items-center absolute rounded-full p-2 text-brand-light-text1 translate-x-[-50%] bottom-0 right-56"
        >&#10095;</button
    >
    </div>
    <!-- Demos card end -->

    
</section>
