 <section id="demos" tabindex="-1">
            <div class="demos__header mb-6">
                <h2 class="text-fluid-3 mb-4 p-0 sm:text-fluid-3">Adebola's Demos</h2>
                <p>Learning is effective when it's combined with doing and
                    havning fun.</p>
                <p>I created some demos and systems.</p>
            </div>

            <div class="grid grid-cols-[repeat(2,_minmax(auto,_1fr))] gap-4 sm:grid-cols-2 grid-flow-row-auto relative"> <!-- Demos card wrapper -->
                <button class="bg-fg-dark w-12 h-12 flex justify-center items-center absolute rounded-full p-2 text-fg-light top-0 left-56">&#10094;</button>
                <div class="grid bg-slate-400 shadow-lg p-4"> <!-- Demos card -->
                    <div class="demos__icon">
                        <img src="/asset/demos/game.jpg" alt="game-controller">
                    </div>

                    <h3 class="text-fluid-2 p-0 mt-4 text-center">Game Hub</h3>
                    <div class="flex justify-center"> <!-- accordion cta wrapper -->
                        <div class="flex gap-2 mt-4">
                            <svg width="22" height="22" viewBox="0 0 22 23"
                                fill="none">
                                <path
                                    d="M11 0.25C4.9346 0.25 0 5.1846 0 11.25C0 17.3154 4.9346 22.25 11 22.25C17.0654 22.25 22 17.3154 22 11.25C22 5.1846 17.0654 0.25 11 0.25ZM11 16.75L5.5 11.25H9.9V5.75H12.1V11.25H16.5L11 16.75Z"
                                    fill="#E88C51" />
                            </svg>

                            <p>Learn more</p>
                        </div> <!-- accordion cta wrapper end -->
                    </div>
                    <div class="mt-8"> <!-- accordion wrapper -->
                        <div class=""> <!-- accordion card --> 
                            <div class="flex justify-center">
                                <div class="flex gap-2 mt-4">
                                <h3 class="text-fluid-2 p-0">Description</h3>
                                <svg width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M11 22C17.0654 22 22 17.0654 22 11C22 4.9346 17.0654 0 11 0C4.9346 0 0 4.9346 0 11C0 17.0654 4.9346 22 11 22ZM11 5.5L16.5 11H12.1V16.5H9.9V11H5.5L11 5.5Z"
                                        fill="#E88C51" />
                                </svg>
                                </div>
                            </div>
                            <p>Bug tracker is an app that let user report a bug
                                or issue about a specific application detailing
                                what went wrong.This allow the developer to fix
                                the issue, when this is done the open report
                                will be close otherwise leave open.Report state
                                can be track till the final state of close</p>
                            <div class="mb-4 grid justify-center">
                                <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                                <div class="flex gap-2">
                                <img class="w-6 aspect-square" src="./asset/skills/002-css-3.png">
                                <img class="w-6 aspect-square" src="./asset/skills/003-js.png">
                                <img class="w-6 aspect-square" src="./asset/skills/004-typescript.png">
                                <img class="w-6 aspect-square" src="./asset/skills/005-sql-server.png">
                                <img class="w-6 aspect-square" src="./asset/skills/001-science.png">
                                </div>
                            </div>
                        </div> <!-- accordion card end -->
                    </div> <!-- accordion wrapper end -->
                    <a href="" class="text-center justify-self-center block">[Try Bug-Tracker]</a>
                </div> <!-- Demos card end -->
 <div class="grid bg-slate-400 shadow-lg p-4"> <!-- Demos card -->
                    <div class="demos__icon">
                        <!-- <img src="/public/asset/demos/syarafina-idris-wD4p-lCPFS0-unsplash.jpg"> -->
                    </div>

                    <h3 class="text-fluid-2 p-0 mt-4 text-center">Calendar</h3>
                    <div class="flex justify-center"> <!-- accordion cta wrapper -->
                        <div class="flex gap-2 mt-4">
                            <svg width="22" height="22" viewBox="0 0 22 23"
                                fill="none">
                                <path
                                    d="M11 0.25C4.9346 0.25 0 5.1846 0 11.25C0 17.3154 4.9346 22.25 11 22.25C17.0654 22.25 22 17.3154 22 11.25C22 5.1846 17.0654 0.25 11 0.25ZM11 16.75L5.5 11.25H9.9V5.75H12.1V11.25H16.5L11 16.75Z"
                                    fill="#E88C51" />
                            </svg>

                            <p>Learn more</p>
                        </div> <!-- accordion cta wrapper end -->
                    </div>
                    <div class="mt-8"> <!-- accordion wrapper -->
                        <div class=""> <!-- accordion card --> 
                            <div class="flex justify-center">
                                <div class="flex gap-2 mt-4">
                                <h3 class="text-fluid-2 p-0">Description</h3>
                                <svg width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M11 22C17.0654 22 22 17.0654 22 11C22 4.9346 17.0654 0 11 0C4.9346 0 0 4.9346 0 11C0 17.0654 4.9346 22 11 22ZM11 5.5L16.5 11H12.1V16.5H9.9V11H5.5L11 5.5Z"
                                        fill="#E88C51" />
                                </svg>
                                </div>
                            </div>
                            <p>Bug tracker is an app that let user report a bug
                                or issue about a specific application detailing
                                what went wrong.This allow the developer to fix
                                the issue, when this is done the open report
                                will be close otherwise leave open.Report state
                                can be track till the final state of close</p>
                            <div class="mb-4 grid justify-center">
                                <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                                <div class="flex gap-2">
                                <img class="w-6 aspect-square" src="./asset/skills/002-css-3.png">
                                <img class="w-6 aspect-square" src="./asset/skills/003-js.png">
                                <img class="w-6 aspect-square" src="./asset/skills/004-typescript.png">
                                <img class="w-6 aspect-square" src="./asset/skills/005-sql-server.png">
                                <img class="w-6 aspect-square" src="./asset/skills/001-science.png">
                                </div>
                            </div>
                        </div> <!-- accordion card end -->
                    </div> <!-- accordion wrapper end -->
                    <a href="" class="text-center justify-self-center block">[Try Bug-Tracker]</a>
                </div> <!-- Demos card end -->

                 <div class="grid bg-slate-400 shadow-lg p-4"> <!-- Demos card -->
                    <div class="demos__icon">
                        <!-- <img src="/public/asset/demos/syarafina-idris-wD4p-lCPFS0-unsplash.jpg"> -->
                    </div>

                    <h3 class="text-fluid-2 p-0 mt-4 text-center">3D Demos</h3>
                    <div class="flex justify-center"> <!-- accordion cta wrapper -->
                        <div class="flex gap-2 mt-4">
                            <svg width="22" height="22" viewBox="0 0 22 23"
                                fill="none">
                                <path
                                    d="M11 0.25C4.9346 0.25 0 5.1846 0 11.25C0 17.3154 4.9346 22.25 11 22.25C17.0654 22.25 22 17.3154 22 11.25C22 5.1846 17.0654 0.25 11 0.25ZM11 16.75L5.5 11.25H9.9V5.75H12.1V11.25H16.5L11 16.75Z"
                                    fill="#E88C51" />
                            </svg>

                            <p>Learn more</p>
                        </div> <!-- accordion cta wrapper end -->
                    </div>
                    <div class="mt-8"> <!-- accordion wrapper -->
                        <div class=""> <!-- accordion card --> 
                            <div class="flex justify-center">
                                <div class="flex gap-2 mt-4">
                                <h3 class="text-fluid-2 p-0">Description</h3>
                                <svg width="22" height="22" viewBox="0 0 22 22"
                                    fill="none">
                                    <path
                                        d="M11 22C17.0654 22 22 17.0654 22 11C22 4.9346 17.0654 0 11 0C4.9346 0 0 4.9346 0 11C0 17.0654 4.9346 22 11 22ZM11 5.5L16.5 11H12.1V16.5H9.9V11H5.5L11 5.5Z"
                                        fill="#E88C51" />
                                </svg>
                                </div>
                            </div>
                            <p>Bug tracker is an app that let user report a bug
                                or issue about a specific application detailing
                                what went wrong.This allow the developer to fix
                                the issue, when this is done the open report
                                will be close otherwise leave open.Report state
                                can be track till the final state of close</p>
                            <div class="mb-4 grid justify-center">
                                <h3 class="text-fluid-2 p-0 my-4">Skills</h3>
                                <div class="flex gap-2">
                                <img class="w-6 aspect-square" src="./asset/skills/002-css-3.png">
                                <img class="w-6 aspect-square" src="./asset/skills/003-js.png">
                                <img class="w-6 aspect-square" src="./asset/skills/004-typescript.png">
                                <img class="w-6 aspect-square" src="./asset/skills/005-sql-server.png">
                                <img class="w-6 aspect-square" src="./asset/skills/001-science.png">
                                </div>
                            </div>
                        </div> <!-- accordion card end -->
                    </div> <!-- accordion wrapper end -->
                    <a href="" class="text-center justify-self-center block">[Try Bug-Tracker]</a>
                </div> <!-- Demos card end -->

                <button class="bg-fg-dark w-12 h-12 flex justify-center items-center absolute rounded-full p-2 text-fg-light translate-x-[-50%] bottom-0 right-56">&#10095;</button>
            </div>

        </section>
