<div class="featured-demos__info">
                <div class="featured-demos__title">
                    <h2>Featured Demos</h2>
                    <h3>Bug Tracker</h3>
                    <p>Bug tracker is an app that let user report bugs or issues
                        about a specific application detailing what went wrong.
                        This allow the developer to fix the issue, when this is
                        done the open report will be close otherwise leave
                        open.Report state can be track till the final state of
                        close</p>
                </div>
                <div class="featured-demos__footer">
                    <div class="featured-demos__skills">
                        <h3>Skills</h3>
                        <div class="featured-demos__skills__icon">
                            <img src="./asset/skills/002-css-3.png">
                            <img src="./asset/skills/003-js.png">
                            <img src="./asset/skills/004-typescript.png">
                            <img src="./asset/skills/005-sql-server.png">
                            <img src="./asset/skills/001-science.png">
                        </div>
                    </div>
                    <button class="cta-btn">Try Bug-Tracker</button>
                </div>
            </div>
        </section>