<section id="featured" class="mt-20 overflow-hidden relative flex flex-col la:flex-row la:h-[28.5rem]">
    <!-- Feature wrapper -->
    <div class="bg-surface-1-accent la:w-[50%]  rad-shadow px-4">
        <h3 class="text-fluid-2 text-surface-headings font-bold mb-2 p-0">Bug Tracker</h3>
        <p class="text-brand-secondary-300">
            Bug tracker is an app that let user report bugs or issues about a
            specific application detailing what went wrong. This allow the
            developer to fix the issue, when this is done the open report will
            be close otherwise leave open.Report state can be track till the
            final state of close
        </p>
        <!-- Skills -->
        <div class="flex justify-between my-4 la:my-0">
            <div class="">
                <h3 class="text-fluid-2 text-surface-headings font-bold p-0 mb-4">Skills</h3>
                <div class="flex gap-2">
                    <img
                        class="w-6 aspect-square"
                        src="/asset/skills/002-css-3.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="/asset/skills/003-js.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="/asset/skills/004-typescript.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="/asset/skills/005-sql-server.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="/asset/skills/001-science.png"
                    />
                </div>
            </div>
            <button
                class="self-end bg-brand-fill p-2 px-4 rounded-full text-text-2 border border-[theme.colors.brand-fill-light] rad-shadow"
                >Try Bug-Tracker</button
            >
        </div>
    </div>
        <img
            src="/asset/demos/bug-tracker.png"
            alt="Bug image"
            class="aspect-square la:w-[50%]"
        >
        <div class="absolute text-brand-fill text-center bg-surface-2 pt-8 pb-40 transform pl-[43%] pr-[55%] right-0 bottom-0 -rotate-45 translate-x-[53%] translate-y-[28%] origin-[50%_50%] la:translate-y-[20%] la:translate-x-[52%] la:pb-[11rem]">
            <span class="text-fluid-1 font-bold tracking-wide uppercase block la:text-fluid-2">Featured</span>
        </div>
</section>
