<section id="featured" class="pt-6 overflow-hidden sm:flex">
    <div class="bg-gradient-from p-6 sm:w-[45%] flex-1">
        <h3 class="text-fluid-2 text-fg-dark mb-4 p-0">Bug Tracker</h3>
        <p class="text-fg-dark">
            Bug tracker is an app that let user report bugs or issues about a
            specific application detailing what went wrong. This allow the
            developer to fix the issue, when this is done the open report will
            be close otherwise leave open.Report state can be track till the
            final state of close
        </p>
        <div class="flex justify-between mt-4">
            <div class="">
                <h3 class="text-fluid-2 text-fg-dark p-0 mb-4">Skills</h3>
                <div class="flex gap-2">
                    <img
                        class="w-6 aspect-square"
                        src="./asset/skills/002-css-3.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="./asset/skills/003-js.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="./asset/skills/004-typescript.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="./asset/skills/005-sql-server.png"
                    />
                    <img
                        class="w-6 aspect-square"
                        src="./asset/skills/001-science.png"
                    />
                </div>
            </div>
            <button
                class="self-end bg-brand-fill p-2 px-4 rounded-full text-fg-light border border-[theme.colors.brand-fill-light]"
                >Try Bug-Tracker</button
            >
        </div>
    </div>
    <div class="relative sm:w-[45%]">
        <img
            src="/asset/demos/bug-tracker-full.jpg"
            alt="Bug image"
            class="h-full"
        />
        <div
            class="absolute text-brand-fill text-center bg-white pt-8 pb-24 px-[55%] right-0 bottom-0 -rotate-45 translate-x-[45%] translate-y-[22%] origin-[50%_50%] sm:pt-4"
        >
            <span class="text-3xl tracking-wide uppercase block">Featured</span>
        </div>
    </div>
</section>
