---
import HeaderLink from "./HeaderLink.astro";
const today = new Date();
const {page} = Astro.props;
---
	<footer class="mx-auto mt-24 mb-4 max-w-screen-md bg-fg-light">
        <div class="flex flex-col gap-y-2 la:flex-row la:justify-between la:gap-0"> <!-- Footer items wrapper  -->
            <ul class="[grid-area:menu-list] text-surface-headings font-bold flex gap-x-8">
		<li class="hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/">Home</HeaderLink></li>
		<li class="hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="#about-me">About</HeaderLink></li>
		<li class="hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="#demos">Demos</HeaderLink></li>
		<li class="hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/blog">Blog</HeaderLink></li>
       

		</ul>
            <div class="flex gap-x-8 items-center"><HeaderLink href="https://www.twitter.com/Dr3_147" class="text-text-1 rounded-md hover:bg-surface-1 grid place-items-center"
                    target="_blank">
                    <iconify-icon icon="pajamas:twitter" width="24"
                        height="24" class="social"></iconify-icon>
                </HeaderLink>

                <HeaderLink href="https://www.github.com/dr3apap" class=" rounded-md hover:bg-surface-1 grid place-items-center"
                    target="_blank">
                    <iconify-icon icon="fe:github" width="24" height="24"
                        class="social"></iconify-icon>
                </HeaderLink>
                <HeaderLink href="https://www.linkedin.com/in/adebola-adesina-8881a4195/"
                    class="rounded-md hover:bg-surface-1 grid place-items-center " target="_blank">
                    <iconify-icon icon="mdi:linkedin" width="24" height="24"
                        class="social"></iconify-icon>
                </HeaderLink>
              <p class="text-fluid-1 text-center">Adebola &COPY;{ today.getFullYear() }.</p>
            </div>
            </div> <!-- Footer items end -->
    </footer> 

