---
const today = new Date();
---
	<footer>
        <div class="flex flex-col gap-4 items-center"> <!-- Footer items wrapper  -->
            <ul class="flex gap-4 text-brand-fill-light">
                <li><a href="/">Home</a></li>
                <li><a href="#about-me">About</a></li>
                <li><a href="#demos">Demos</a></li>
                <li class="nav-menu"><a href="/blog">Blog</a></li>
            </ul>
            <div class="socials">
                <a href="https://www.twitter.com/Dr3_147" class="text-fluid-2 text-fg-dark"
                    target="_blank">
                    <iconify-icon icon="pajamas:twitter" width="2em"
                        height="1em" class="social"></iconify-icon>
                </a>

                <a href="https://www.github.com/dr3apap" class="text-fluid-2 text-fg-dark"
                    target="_blank">
                    <iconify-icon icon="fe:github" width="2em" height="1em"
                        class="social"></iconify-icon>
                </a>
                <a href="https://www.linkedin.com/in/adebola-adesina-8881a4195/"
                    class="text-fluid-2 text-fg-dark" target="_blank">
                    <iconify-icon icon="mdi:linkedin" width="2em" height="1em"
                        class="social"></iconify-icon>
                </a>

            </div>
            <a href="/contact.html" class="p-2 bg-brand-secondary rounded-3xl text-fg-light px-4">Contact</a>
        </div> <!-- Footer items end -->
        <div class="text-center mt-4">
            <p>Designed and Developed by Adebola Adesina.</p>
            <p class="text-sm">&COPY;{ today.getFullYear() } All rights reserved.</p>
        </div>
    </footer> 

