---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---
<div class="grid grid-cols-[1fr_max-content] gap-12 fixed left-4 top-0 right-4  z-10 bg-brand-light-surface2">
		 <nav class="grid grid-cols-[max-content_1fr] [grid-template-areas:'logo_menu-control''._menu-list'] pt-4 z-20 la:[grid-template-areas:'logo_menu-list'] bg-surface-">
                    <HeaderLink href="/" class="[grid-area:logo"><img class="w-12 h-8" src="./asset/dr3-logo.png"
                            alt="Adebola Adesina logo"/></HeaderLink>
                    <div class="box [grid-area:menu-control] justify-self-end la:hidden" aria-controls="nav-toggle">
                        <div class="bar" style="--fade:0" aria-expanded="false">
							<span class="nav-toggle-label sr-only">Menu Control</span>
						</div>
                    </div>
		<ul id="nav-toggle" aria-expanded="false" role-label="nav-list" class="[grid-area:menu-list] justify-self-end text-brand-light-1 la:justify-self-center la:flex gap-4">
		<li class="text-fluid-0 bg-gradient-to-b from-brand-secondary-light to-brand-light text-center p-1 la:bg-none"><HeaderLink href="/">Home</HeaderLink></li>
		<li class="text-fluid-0 bg-gradient-to-b from-brand-secondary-light to-brand-light text-center p-1 la:bg-none"><HeaderLink href="/#about-me">About</HeaderLink></li>
		<li class="text-fluid-0 bg-gradient-to-b from-brand-secondary-light to-brand-light text-center p-1 la:bg-none"><HeaderLink href="/#demos">Demos</HeaderLink></li>
		<li class="text-fluid-0 bg-gradient-to-b from-brand-secondary-light to-brand-light text-center p-1 la:bg-none"><HeaderLink href="/contact">Contact</HeaderLink></li>
		<li class="text-fluid-0 bg-gradient-to-b from-brand-secondary-light to-brand-light text-center p-1 la:bg-none"><HeaderLink href="/blog">Blog</HeaderLink></li>
		</ul>
	</nav>
<ThemeToggle/>
</div>
<script is:inline>
	const navToggle = document.querySelector("div [aria-controls]");
	const navMenu = document.querySelector("nav ul");
	const bar = document.querySelector(".bar")
function toggleNav(e) {
        let barState = e.currentTarget.firstElementChild.getAttribute("aria-expanded") == "true" || false;
        bar.setAttribute("aria-expanded", !barState);
        navMenu.classList.toggle("show");

    }
    navToggle.addEventListener("click", toggleNav);
</script>