---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---
<div class="grid grid-cols-[1fr_max-content] gap-12 fixed left-4 top-0 right-4  z-10 bg-brand-light-surface2">
		 <nav class="grid grid-cols-[max-content_1fr] [grid-template-areas:'logo_menu-control''._menu-list'] pt-4 z-20 la:[grid-template-areas:'logo_menu-list'] bg-surface-">
                    <HeaderLink href="/" class="[grid-area:logo"><img class="w-12 h-8" src="./asset/dr3-logo.png"
                            alt="Adebola Adesina logo"/></HeaderLink>
                    <div class="box [grid-area:menu-control] justify-self-end la:hidden" aria-controls="nav-toggle">
                        <div class="bar" style="--fade:0" aria-expanded="false">
							<span class="nav-toggle-label sr-only">Display nav</span>
                        </div>
                    </div>
		<ul id="nav-toggle" aria-expanded="false" role-label="nav-list" class="[grid-area:menu-list] justify-self-end text-brand-light-1 hidden la:justify-self-center la:flex gap-4">
		<li class="text-fluid-0"><HeaderLink href="/">Home</HeaderLink></li>
		<li class="text-fluid-0"><HeaderLink href="/blog">Blog</HeaderLink></li>
		<li class="text-fluid-0"><HeaderLink href="/about">About</HeaderLink></li>
		<li class="text-fluid-0"><HeaderLink href="/contact">Contact</HeaderLink></li>
		</ul>
	</nav>
<ThemeToggle/>
</div>