---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./theme-toggle/ThemeToggle.astro";
const {page} = Astro.props;
---
<div class="grid grid-cols-[1fr_max-content] gap-12 p-2 bg-surface-alpha z-10 sticky top-0 left-0">
		 <nav class="grid grid-cols-[max-content_1fr] [grid-template-areas:'logo_menu-control''._menu-list'] la:grid-cols-[1fr_2.2fr] la:[grid-template-areas:'logo_menu-list']">
                    <HeaderLink href="/" class="[grid-area:logo w-14 h-14 grid place-items-center hover:bg-surface-1-accent rounded-md"><img class="" src="/asset/dr3-logo.png"
                            alt="Adebola Adesina logo"/>
						<span class="sr-only">aadesina.com</span>
						</HeaderLink>
                    <div class="box w-14 h-14 [grid-area:menu-control] justify-self-end grid place-items-center la:hidden" aria-controls="nav-toggle">
                        <div class="bar" style="--fade:0" aria-expanded="false">
							<span class="nav-toggle-label sr-only">Menu Control</span>
						</div>
                    </div>
		<ul id="nav-toggle" aria-expanded="false" role-label="nav-list" class="[grid-area:menu-list] flex gap-y-4 justify-center la:justify-self-start">
		<li class="text-fluid-0 hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/">Home</HeaderLink></li>
		<li class="text-fluid-0 hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/#about-me">About</HeaderLink></li>
		<li class="text-fluid-0 hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/#demos">Demos</HeaderLink></li>
		<li class="text-fluid-0 hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/blog">Blog</HeaderLink></li>
		<li class="text-fluid-0 hover:bg-gradient-to-b from-brand-accent-fill to-brand-fill text-center p-1 la:bg-none"><HeaderLink href="/contact" class={page == "contact"? "underline decoration-brand-accent-fill":""}>Contact</HeaderLink></li>
		
		</ul>
	</nav>
<ThemeToggle/>
</div>
