---
import { Icon } from "astro-icon"; 
---
<form class="justify-self-center pt-4">
    <button>
    <span>
   <iconify-icon inline icon="grommet-icons:system" width="24" height="24"></iconify-icon>
    <Icon name="mdi:moon-waxing-crescent" width="24" height="24"/>
    <Icon name="ph:sun-bold" width="24" height="24"/>
    </span>
    <span class="sr-only">Turn System on</span>
    </button>
</form>
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>